<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2013: Montgomery Gateway Center East</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/gateway.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2013
			</ion-card-title>
The Montgomery Gateway Center East project (former Perkins site) was completed and occupied. Coldwell Banker consolidated several of its offices on the second floor, and in December, a new coal-fired pizza restaurant, Delicios, opened on the first floor.
<br>
<br>
The City of Montgomery received Tree City USA status for the 17th consecutive year as well as receiving the Tree City USA Growth Award for the 15th time.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
On December 4, Ann Combs, Chris Dobrozsi, Lynda Roesch and Ken Suer each accepted their oath of office on City Council. The City Council then elected Todd Steinbrink as Mayor and Chris Dobrozsi as Vice-Mayor. City Council also thanked retiring City Council Member Barry Joffe for his many years of service to our community. Gerri Harbison and Craig Margolis continued their service on City Council.
		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, it oversaw operations and administration of a cash budget of $18,034,878.<br>
<br>
Total Revenues for 2013:    $17,729,222 <br>
Total Expenditures for 2013:  $21,896,338

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 33 part-time employees.
<br>
<br>
Police Lieutenant Jerry Beitman retired after 30 years of service.
<br>
<br>
Cindy Rains retired after 36 years of service in law enforcement, 35 of those years with Montgomery.
<br>
<br>
Lauren Helgeson was sworn in as a new police officer.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The police department assigned an officer to be a liaison to the Terrorism Early Warning Group (TEWG).  The TEWG is a regional cooperative effort among public safety and health agencies throughout the greater Cincinnati area to address potential terrorist activity.
<br>
<br>
For the third year in a row, the police department received the American Automobile Association’s Platinum Award. The Platinum Award is the highest award given by the association to agencies demonstrating outstanding success in addressing community traffic safety issues.  Montgomery was one of a few communities within the greater Cincinnati region to receive the award.
<br>
<br>
A 5.5 mil levy was approved by the community in 1999 to fund the operations of the fire department. The levy was projected to last ten years, or until 2009.  Through careful planning and budget controls, the current levy should fund the department through 2017, or eight years beyond the projected life of the levy.
<br>
<br>
Staff conducted a thorough review of the lodge rental policies of the City.  A rate comparison, as well as a facility maintenance cost study was conducted to benchmark how Montgomery compares to our neighboring communities. Based on these findings, the non-resident rental rate for both Swaim Lodge and Terwilliger Lodge was increased by approximately 30 percent. Resident rates, which have not been increased since 2006, remain unchanged.
<br>
<br>
The customer service department and the public works department studied shelter use by both residents and non-residents and reviewed park maintenance operations and associated costs for the seven parks and park shelters. Based on the findings and the recommendation of the Parks and Recreation Commission, it was decided that only residents and those working in Montgomery should be able to reserve park shelters. Non-residents will still be able to use the shelters, but only on a first-come, first-served basis.
<br>
<br>
The City’s information technology staff worked with a representative from Sycamore High School on a shared fiber optic network that vastly improved connectivity and business communications between City Hall and the City’s public works building.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		The City concluded an agreement with the new owners of the commercial section of the Vintage Club to locate a new outpatient center and medical offices for Christ Hospital on the southwest portion of the property. A new 80,000 square foot building was built by the developer, Brandicorp, with the City committing to construct a 321-space parking garage under a portion of the building.
<br>
<br>
Ohio National Financial Services expanded their parking garage to include 202 additional parking spaces. Work began at the end of 2013.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Community volunteers donated 5,202 hours of time to assist in the many City-sponsored events. This equates to over $104,000 worth of services.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			The Annual Street Resurfacing Project included work on 18 roadways and replacement of 3,596 linear feet of curb. The total cost of the project was $621,000 and was funded through the City’s Capital Improvement Program.
<br>
<br>
The public works department began oversight of construction associated with the Vintage Club Development which included public funding for a two-story underground parking garage complete with a plaza deck level.
<br>
<br>
Inspection and repair of all public sidewalks from Kennedy Lane to Mitchellfarm Lane was completed in 2013.  This marked the thirteenth year of the City of Montgomery Inspection and Repair Program, which covers one quadrant of the City each year.  Additionally, 18 crosswalk ramps were upgraded in the project “focus” area now meeting the requirements of the Americans with Disabilities Act (ADA).

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>