<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Parks and Events Photos</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
		<img class="style" src="assets/icon/p1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Park – 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p2.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Park Shelter 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p3.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p4.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Horse Event

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p5.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
1960 Baby Contest during 50th Anniversary Festival

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p6.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
1960 Miss Montgomery, left to right Jil Garbutt, Runner Up Joan La Ducec

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p7.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
1960 Parade – Looking north on Montgomer Rd. at Mitchell Farm

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p8.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
1960 Parade Float

			</ion-card-title>
		</ion-card-content>
	</ion-card>



	<ion-card>
		<img class="style" src="assets/icon/p9.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Parade setup behind Kroger on Tollgate Ln. – 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p10.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Antique Car parade setup behind Kroger on Tollgate Ln. – 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p11.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
City officials parade setup behind Kroger on Tollgate Ln. – 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p12.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
City vehicle parade setup behind Kroger on Tollgate Ln. – 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p13.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Parade color guard setup behind Kroger on Tollgate Ln. – 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p14.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Kiwanis Art Show

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p15.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Kiwanis Art Show – 1966. – NE Corner of Montgomery Rd. and Remington Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p16.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Kiwanis Art Show – 1967

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p17.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Kiwanis Art Show – 1978

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p18.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
parade marching band setup behind Kroger on Tollgate Ln. – 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p19.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Art Show – 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p20.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Art Show – 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p21.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Art Show – 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p22.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village – Left to Rignt – Judy Heffner, Betty Rae Barker, Anita Powell, Beverly Rummel, Bob Shreve

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p23.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p24.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p25.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p26.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p27.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p28.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village – Left to Right top – Vince Blazic, Bob Novak, Al Leake, Don Bruce – Left to Right bottom – Alma Blazic, Jo Ann Holtkamp

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p29.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p30.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Celebrating 50th Anniversary of Montgomery becoming a Village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p31.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Park concept drawing shown during 50th Anniversary of Montgomery being incorporated as a village

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p32.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Park Concept Drawing

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p33.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Painting Montgomery Park Sign

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p34.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Assembling the Montgomery Park sign

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p35.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Park – 1961

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/p36.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Park – 1961

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/p37.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Shopping for Crafts - 1960s

			</ion-card-title>
		</ion-card-content>
	</ion-card>

<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/photoalbum" routerDirection="root"> Back to Photo Album
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
</ion-content>
