<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Mills-Hellman House, c. 1839-1847</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>

	<ion-card>
		<img class="style" src="assets/icon/millshellman.jpg"/>
			<ion-item class="ion-text-wrap"> <ion-text color="primary">
		7913 Cooper Road, Montgomery, OH, United States </ion-text>
			<ion-icon slot="start" color="primary" size="medium" name="location-outline"></ion-icon>
	</ion-item>

		<ion-card-content>
The Mills Hellman House was a landmark that was demolished by the owner following an extensive fire in March 2002. The original wood-frame structure, which was likely constructed between 1820 and 1847, was a small two-story home built with elements of the Greek Revival style, including a low pitch roof, wide band of trim at the wall roof juncture, and the prominent pediment at the gable ends. Two additions were added to the rear of the house after 1900, as was a low pitch front porch roof supported by three plain columns. One report stated that there was originally a log structure on the lot with an exterior chimney and that a new frame building replaced this and enclosed the chimney that remains on the left side. This could be possible since this property is in the first plat of the village recorded in 1802 and the history of the lot prior to 1839 is not known.

<br><br>
The Mills Hellman house was recognized by the City as a landmark in 1990.  At the time of the fire, plans were underway to completely update and enlarge the house, which had deteriorated through age and owner neglect; however, the fire was extensive and unfortunately, these plans were never realized. The fire department had secured the building, but the City had not agreed to a demolition permit; however, the owner proceeded on his own and the building was lost.


		</ion-card-content>
	</ion-card>

	<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/locations" routerDirection="root"> Back to historical landmarks list
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
