<ion-header>
  <ion-toolbar>
    <ion-title>fourth</ion-title>
    <ion-menu-button autoHide="false" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h3 color="danger" id="title" > music </h3>
	<audio controls id="audio-example">
		<source src="/assets/audio/music.mp3">
			Youll see this if native audio playback is not supported
		</audio>
		<style>
			#audio-example{
				display:block;
				width:100% !important;
				padding-left:5% !important;
				padding-right:5% !important;
			}

			#title{
				
				
				padding-left:5% !important;
			}
		</style>
</ion-content>
