<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">1997: Weller Park Dedication</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/weller.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 1997
			</ion-card-title>
			The Montgomery Safety Center was dedicated on June 7, 1997, combining the services of the Police Department and Fire Department into one central facility.
<br>
<br>
Weller Park was officially dedicated in October 1997.
<br>
<br>
			A new sidewalk was installed in the Montgomery Woods neighborhood and a new bike path was constructed on Zig Zag Road between Mitchell Farm Lane and Monte Drive.
<br>
<br>
Annexation of the Acrewood subdivision north of East Kemper Road added 21 homes and The Community of the Good Shepherd Church into the corporate limits of Montgomery.
<br>
<br>
Long-range planning during 1997 included the development of a proposed Urban Renewal Plan which promoted the development of the Sage Tavern and adjacent properties according to Heritage District guidelines.

		</ion-card-content>
	</ion-card>

	<ion-card>

		<img class="fourth" src="assets/icon/belltower.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
				Bicentennial Bell Tower
			</ion-card-subtitle>
The placement of the bicentennial bell tower in the heritage district was completed with a $25,000 state grant.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 1997, terms of office expired for Mayor Ivan Silverman, Fred Kleiser and Janet Korach.  Joining City Council Members William Niehaus, Richard Tuten and Gail Winiarz were newly elected members Jeaneanne Archiable, Gary Gross and Gene McCraken.  Gary Blomberg was elected to continue his service on City Council.  City Council elected Richard Tuten as Mayor and Gail Winiarz as Vice Mayor.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $12,991,427.

<br>
<br>
Total Revenues for 1997: $9,226,955 <br>
Total Expenditures for 1997: $6,073,480

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 51 full-time and 34 part-time employees. Cheryl Hilvert was appointed city manager.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The municipal pool began its second year of operations. A new water slide was added and an expanded picnic area was introduced, along with a new policy allowing patrons to bring in picnic baskets.
<br>
<br>
The Cincinnati Pops and Blue Wisp Big Band concerts were hosted by the City.
<br>
<br>
The Tree City USA designation was bestowed on Montgomery for the first time in 1997, recognizing the City’s concern and efforts towards maintaining green spaces and providing citizens with a viable urban forest.
<br>
<br>
Montgomery began billing non-residents for EMS services.  The new policy resulted in 75 percent payment for services, generating $56,176 in revenues for the department.
		</ion-card-content>
	</ion-card>
	
	<ion-card>

		<img class="fourth" src="assets/icon/sagetavern.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
				Sage Tavern
			</ion-card-subtitle>
			The Sage Tavern was designated as a Montgomery Landmark.
			<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/landmarks" routerDirection="root"> Learn more about Montgomery's landmarks! </ion-button>
		</ion-card-content>
	</ion-card>

		<ion-card>

		<img class="fourth" src="assets/icon/may.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
				Arstingstall-May House
			</ion-card-subtitle>
			The Arstingstall-May House was designated as a Montgomery Landmark.
			<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/landmarks" routerDirection="root"> Learn more about Montgomery's landmarks! </ion-button>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
	A three-story medical building and new surgery center were built at Bethesda North Hospital.
<br>
<br>
Closson’s Furniture Store and Design Center opened their retail store at 10100 Montgomery Road. Jim and Paul Grammas built a new 2-story office at Cooper and Shelly Lane.
<br>
<br>
Other new developments included Hayden’s Addition, a residential development in the Heritage District, and the Montgomery Medical Arts Building at Montgomery Road and Hartfield Place was completed.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
In all, 437 citizens contributed 2,357 hours of service to the City, including the contributions of those serving on the City’s Boards and Commissions. Volunteers provided $30,267 in services to further the quality of life in Montgomery.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			Project financing for the construction of the Safety Center, development of Weller Park, the municipal swimming pool, and the City’s Service Department were accomplished with the issuance of $5.9 million in long-term debt.


		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/fourthp1" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
