<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="medium">The History of Montgomery, Ohio</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-content>
	<ion-card>
		<img src="assets/icon/corner.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Our History from 1795 – Today
			</ion-card-title>
			Montgomery’s history is reflected in who lived here, what they did, and what they built in which to live, work, be schooled and attend church. The more one learns about the earliest families, and envisions their arrival in the wooded forests and rock creeks that we call the bustling suburb of more than 10,000 today, the more one realizes the physical courage and strength of vision these early pioneers had.
<br><br>
To preserve the City’s cultural heritage, the Montgomery Landmarks Commission was established in 1976. As of today, the Commission has identified <ion-button class="ion-text-wrap" size="small" fill="clear" color="primary" routerLink="/landmarks" routerDirection="root"> 32 Landmarks </ion-button>to commemorate the City’s historical beginnings. These landmarks will be preserved for future generations as a tribute to Montgomery’s past.
<br><br>
During Montgomery’s Bicentennial in 1995, the Montgomery Historical Society, now known as the Montgomery Historical Preservation Association, and the Montgomery Bicentennial Commission, funded and published a book that documented 200 years of Montgomery history from 1795 – 1995. The book, <a target="_blank" rel="noopener" href="http://www.montgomeryohio.org/download/history/historic_documents/Montgomery%20history%20book%20optimized.pdf"> History of Montgomery 1795-1995 </a>. can be downloaded for free. A print version is available at City Hall.
<br><br>
This website was created to document Montgomery’s history from 1995 to present day and is the result of a collaboration between the <a target="_blank" rel="noopener" href="https://www.facebook.com/MontgomeryHistoricPreservationAssociation/?fref=nf">Montgomery Historical Preservation Association
</a> and the <a target="_blank" rel="noopener" href="http://www.montgomeryohio.org/">City of Montgomery
</a>. 
		</ion-card-content>
		<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/list" routerDirection="root"> Explore the years! </ion-button>
	</ion-card>
</ion-content>
