<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2000: Recovery</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/recovery.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2000
			</ion-card-title>
			The year 2000 was a time for looking forward, following the upheaval of the prior year caused by the April 9, 1999, tornado. While there were some remaining recovery issues that needed attention in 2000, the relative tranquility of the year was foreshadowed by the smooth transition into “Y2K” with no computer-related problems.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
On February 2, 2000, Janeanne Archiable, Gary Gross and Gene McCracken resigned from City Council.  City Council selected Ed Daniel, Michael Hawkins, and Lynda Roesch to fill the unexpired terms.  City Council Members Gerri Harbison and George Rehfeldt, Mayor Gary Blomberg and Vice Mayor Don Cornett continued their service.
<br>
<br>
A full range of City services was undertaken by 56 full-time and 40 part-time employees.
		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $11,506,360.

<br>
<br>
Total Revenues for 2000: 12,797,156 <br>
Total Expenditures for 2000: $9,021,749

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
	A full range of City services was undertaken by 56 full-time and 40 part time employees
<br>
<br>
Police Chief Don McGlothlin retired and Lieutenant Kirk Nordbloom was promoted to chief.  Kate Earley was hired as assistant city manager, Wayne Davis as finance director, and Frank Davis as community development director.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The City launched its website with the assistance of a local volunteer. The website featured announcements, a calendar of events, information about the community and City departments, Council agendas and minutes, and various downloadable forms.
<br>
<br>
The City received $492,084.67 in reimbursements for expenses incurred by the 1999 tornado.  Several staff members made presentations to other jurisdictions in disaster preparedness, response, and recovery that were gained from the tornado experience.  The community observed the anniversary of the tornado with a “day of appreciation” service and the development and installation of a physical landscaped memorial.
<br>
<br>
City Council amended the city-funded Sidewalk Master Plan to further add to the network of public walkways.
<br>
<br>
The City introduced a new program for yard waste disposal that re-instituted weekly collection.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
			<img src="assets/icon/chesters.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
Major renovation projects were undertaken at the Honda dealership and Kroger. Seven new businesses opened in downtown Montgomery including Starbucks and the French Rendez-Vous.
<br><br>
Ireland May Ltd, the owner of historic Sage Tavern, completed a comprehensive restoration of the tavern, allowing two new businesses to open by the end of the year.
<br><br>
A major addition was constructed on the front of Chester’s Road House.<br><br>
The completion of a new medical office building at 10735 Montgomery Road, completion of new buildings for EDB Jewelers and Montgomery Jewelry and remodeling at Stafford Jewelry made 2000 a busy year for remodeling and updating.

<br><br>

Expansions and renovations were undertaken at Maple Dale Elementary School, Sycamore Junior High School, and Sycamore Senior High School.
<br><br>

The Community of the Good Shepherd Catholic Church and St. Barnabas Episcopal Church underwent expansions.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Volunteers contributed 3,130 hours of service to the City at community events, including 400 children who participated in the Beautification Week Park Planting project.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			Montgomery’s participation in the Schoolhouse Lane Stormwater Removal Project was finalized as of December 31, 2000.  The Metropolitan Sewer District (MSD) investigated the cause of the sewer back-ups in area homes and proposed a project to co-fund repairs.  The City’s participation in the project was the subject of an initiative petition, which eventually terminated the program.
<br><br>
The City also installed approximately 1900 linear feet of storm sewer pipe at 14 locations in the Schoolhouse Lane area to provide connection points for sump pump discharge and downspout connections.
<br><br>
Universalist Church received a roof replacement and the walls and ceiling were also painted.
<br><br>
A stormwater retention basin was created at the Public Works Facility on Cornell Road.
<br><br>
The deck at the Montgomery Pool was expanded with five large umbrellas also installed.
<br><br>
A new streetscape in front of Montgomery Inn was installed.  Public Works also installed decorative landscaping at the Montgomery Road /Cross County Highway interchange and made landscaping improvements at the Pfeiffer Road median island west of Storybook Drive.
<br><br>
Work began on the Johnson Nature Preserve which included tree assessments, removal of trees that posed an unacceptable risk and the purchase and planting of native trees.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>

