img.imgmg {
	width: 90%;
    height: auto;
    margin-top:5%;
    margin-right: 10%;
}

img.dog{
	width: 30%;
	margin-left: 35%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.firstcard{
  background-color: #000; // black
  box-shadow: none;
}