<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary" class="ion-text-wrap">1795-1995: From Settlers to a City</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/cooperWest.jpeg"/>
		<ion-card-content color="dark">
			<ion-card-subtitle size="small" color="danger">
				Cooper Road
			</ion-card-subtitle>
			<ion-card-title size="small" color="primary">
				The Beginning of the Community of Montgomery
			</ion-card-title>
			The community of Montgomery began in the spring of 1795 when six families from the Village of Montgomery, New York, set out on a journey that brought them to what is today Montgomery, Ohio. The families were all related with names that have become commonplace in our community. There were the three Felter sisters and their husbands Cornelius Snider, the leader; Jacob Roosa; and Nathaniel Terwilliger, along with three Felter brothers and their wives. The closely knit group gathered their possessions and traveled through Fort Pitt (now Pittsburgh), floated down the Ohio River to the mouth of the Little Miami River, and made their way up Sycamore Creek to where it meets the present Montgomery Road just north of Bethesda North Hospital.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="morgan" src="assets/icon/morgan.jpg"/>
		<ion-card-content>
			<ion-card-title size="small" color="primary">
			Confederate General John Hunt Morgan
			</ion-card-title>
			The first winter was spent in simple lean-to shelters left by early scouts. Then, in the spring of 1796, they moved to the junction of two Indian trails, which are now Cooper Rd. and Main St. On July 8, 1863, Confederate General John Hunt Morgan crossed the Ohio River near Louisville with 2500 cavalry as a diversionary raid intended to draw Union forces away from the Confederate fighting front in Tennessee. Five days later, on July 13, they entered Ohio near Harrison, and in one long night and day crossed northern Hamilton County with Union forces in close pursuit, eventually moving through Montgomery.
		</ion-card-content>
		<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/morgan" routerDirection="root"> Learn more about General Morgan! </ion-button>
	</ion-card>

	<ion-card>
		<ion-card-title color="primary" class="becoming">
			Montgomery Becomes a City!
		</ion-card-title>
		<ion-card-content>
The growth of Montgomery was a gradual one with about a dozen homes being built by 1816. That number grew to about 500 by 1950. In 1910, Montgomery was incorporated as a village, and it became a city in 1971 having reached 5000 inhabitants. Today, the population is approximately 10,250.
<br><br>


There are two wonderful documents that contain a comprehensive history of Montgomery. The first is the book <a target="_blank" rel="noopener" href="http://www.montgomeryohio.org/download/history/historic_documents/Montgomery%20history%20book%20optimized.pdf"> History of Montgomery 1795-1995</a>. This book was funded by the Montgomery Historical Society and the Montgomery Bicentennial Commission in 1995. Printed versions are available at City Hall. The second is a pamphlet titled <a target="_blank" rel="noopener" href="https://history.montgomeryohio.org/wp-content/uploads/sites/3/2017/08/The-Montgomery-Story.pdf">The Montgomery Story</a>. The Montgomery Story was published by the Montgomery Messenger in 1947.



			
		</ion-card-content>
	</ion-card>

	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>
</ion-content>

