<ion-header>
  <ion-toolbar>
    <ion-title color="primary">1795-1995: From Settlers to a City</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/favicon.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="firstcard">
		<img class="dog" src="assets/icon/cooperWest.jpeg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Blake Stincks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/logo.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/cow.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-item>
		<ion-button slot="end" fill="clear" color="secondary" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="dark" size="medium" name="arrow-dropright"></ion-icon>
		</ion-button>
	</ion-item>
</ion-content>
