img.imgmg {
	width: 90%;
    height: auto;
    margin-top:5%;
    margin-right: 10%;
}


button.end{
    font-family: 'Garamond', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1.5;
}

img.morgan {
	width:100% !important;
	height:auto;
}

ion-card-title.becoming {
	margin-left:16px!important;
	margin-top:16px !important;
}
