<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">City Hall Photos</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

		<ion-card>
		<img class="style" src="assets/icon/cityhall1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				City Hall construction 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall2.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				City Hall with sign, 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall3.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				City Council and officials, 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall4.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				City Hall dedication. 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall5.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Mayor Robert Novak, 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall6.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Open House Refreshments

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall7.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Ribbon cutting with Mayor Novak and Radabaugh Family, 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/cityhall8.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Special Presentation, 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/cityhall9.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Speech in front of City Hall, 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>
<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/photoalbum" routerDirection="root"> Back to Photo Album
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
</ion-content>
