<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">1999: Tornado</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/tornado.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 1999
			</ion-card-title>

			An F-4 tornado touched down in the pre-dawn hours of April 9, 1999. Four people died, two were Montgomery residents. Hundreds were injured and 30 homes in the Montgomery Woods neighborhood were destroyed. Thirty-five local jurisdictions plus the City of Montgomery assisted residents and community members in recovery from the disaster. Approximately 150 properties sustained damage from the tornado. The Public Works Department was the first to respond with clean-up of 140,000 cubic yards of tree debris to process.
<br><br>
The Public Works building and equipment at the Public Works Department on Cornell Road were heavily damaged during the tornado.  Losses to City property exceeded $250,000. Unplanned city expenditures to respond to the disaster exceeded $500,000.  The City did not receive FEMA designation as a Federal Disaster Area, but the City was able to receive reimbursement for 75% of eligible overtime, equipment rental, and material costs.
<br><br>
Videos about the 1999 tornado: <br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=_CBLCmpbyHM&feature=emb_title">1999 Tornado</a> <br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=y_tHz4SBMLg&feature=emb_title">Twister of '99 - Channel 9, WCPO Documentary
</a> <br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=C1V1yS3ziV8&feature=emb_title">1999 Montgomery Tornado - Amateur Footage at Safety Center and Disaster Site
</a> <br> <br>
		</ion-card-content>

		<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/tornadopics" routerDirection="root"> See more pictures of the tornado </ion-button>

	</ion-card>
<ion-card>
	<ion-card-content>
		<ion-card-subtitle color="primary">
Hamilton County EMS Dispatch recording during the 1999 tornado response.
</ion-card-subtitle>
  		<audio controls id="audio-example">
		<source src="/assets/audio/tornado.mp3">
			Native audio playback is not supported
		</audio>
			<style>
	#audio-example{
		display:block;
		width:100% !important;
		padding-left:5% !important;
		padding-right:5% !important;
		padding-top:0px !important;
		padding-bottom:20px !important;
		}
	</style>
</ion-card-content>
</ion-card>

		<ion-card>

		<img src="assets/audio/tornadopaper.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
			Newspaper Article About the Tornado
			</ion-card-title>
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 1999, terms of office expired for Mayor Richard Tuten and William Niehaus.  Joining City Council Members Gary Blomberg, Janeanne Archable, Gene McCracken and Gary Gross were newly elected members Donald Cornett, Gerri Harbison, and George Rehfeldt.  City Council elected Gary Blomberg as Mayor and Donald Cornett as Vice Mayor.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $10,418,438

<br>
<br>
Total Revenues for 1999: $10,728,598 <br>
Total Expenditures for 1999: $9,649,688

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 53 full-time and 40 part-time employees.
<br>
<br>
Bonny Winger joined the City of Montgomery as the recreation director in November 1999.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The computer system at the City of Montgomery went through year 2000 upgrades to allow for a successful and non-eventful transition to 2000.
<br>
<br>
A 5.55 mill fire levy was supported by Montgomery voters replacing an existing levy.
<br>
<br>
City Hall underwent a renovation to address service issues and ADA compliance.
<br>
<br>
The Fire Department organized the Child Car Seat Safety program with technicians receiving certifications from Cincinnati’s Children’s Hospital.
<br>
<br>
The City began the process of re-writing the City Zoning Code.
<br>
<br>
The City Building Department issued building permits to rebuild 22 homes destroyed in the tornado.
<br>
<br>
The address sign program was started by the Fire Department.  Green and white reflective address signs were manufactured and installed at resident’s homes for a nominal fee.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		Development plans for the construction of Twin Lakes Retirement Community were approved by City Council.
<br>
<br>
Four City of Montgomery historic properties associated with the former Sage Tavern, including the sites now containing Montgomery Jewelers and Marino Homes, were sold.  These properties were sold to Robert and Patty May who developed and rehabbed the properties.  The City was able to retire the debt associated with the purchase of the properties in 1997.
<br>
<br>
Bethesda North Hospital expanded their emergency room and renovated of two labs.
<br>
<br>
A new medical office building was completed at 10615 Montgomery Road.
<br>
<br>
A new medical office building was approved for 10600 Montgomery Road.
<br>
<br>
Four car dealerships expanded: Williams Ford, Jaguar, Century Honda and Camargo Cadillac.
<br>
<br>
The May’s addition, a 5-lot residential development along Cooper Road, was approved by City Council.
<br>
<br>
The Sister Cities Commission also celebrated its 10-year anniversary of the City’s twinning with Neuilly-Plaisance, France.  This year marked a dual exchange between officials and staff members of each entity.
<br>
<br>
The Commission was awarded a coveted Special Achievement Award for Arts and Culture by the Sister Cities International for their World Cup Friendship Quilt Project.
<br>
<br>
Building additions and renovations were started at both Sycamore Junior and Senior High Schools.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Community volunteers donated 3850 hours of time to assist in the many City sponsored events. This equates to over $55,000 worth of services and does not include the time of board and commission members.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
	Public Works placed a 4,200 square feet brick paver sidewalk along Tanager Woods Drive and Weller Road.
<br>
<br>
A concrete sidewalk along Delray Drive from Cooper Road was constructed.
<br>
<br>
The City of Montgomery and the Metropolitan Sewer District developed a joint program to connect improper sources of flow to the sanitary sewer system that resulted in sewer backups and flooded basements in the Schoolhouse Lane area for many years.  The program was terminated following the approval by the voters of an initiative petition that opponents of the program submitted.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/tornadotrivia" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>