<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2003: New Montgomery Elementary School</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/school.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2003
			</ion-card-title>
The new Montgomery Elementary School opened in August of 2003 after the older school was demolished.

		</ion-card-content>
	</ion-card>

		<ion-card>
		<img src="assets/icon/school1.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
Montgomery Elementary School – 1898

			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>


	<ion-card>
		<img src="assets/icon/school2.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
Montgomery Elementary School – 1952

			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 2003, the term of office expired for George Rehfeldt, but Ed Daniel, William Niehaus, Gerri Harbison and Todd Steinbrink were elected to continue their service on City Council.  They were joined by Gary Blomberg, Lynda Roesch and Ken Suer.  City Council elected Gary Blomberg as Mayor and Gerri Harbison as Vice Mayor.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $14,103,918.

<br>
<br>
Total Revenues for 2003: $12,785,673 <br>
Total Expenditures for 2003: $8,888,231

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 60 full-time and 40 part-time employees.
<br>
<br>
Patrick Morgan joined the Montgomery Fire Department in May 2003 as a lieutenant. Debra Witte retired as a sergeant in the Montgomery Police Department after 21 years of service. Shari Haldeman was hired as the assistant city manager.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			City Administration introduced the TARGET program. TARGET was an employee designed program guided by the City’s mission, vision, and values that emphasize the need for cooperative teamwork and leadership at all levels of the organization.
<br>
<br>
For the seventh year, Montgomery was named a Tree City USA by the Arbor Day Foundation and for the fifth year was awarded the Tree City USA Growth Award.
<br>
<br>
Montgomery experienced significant construction activity in both the residential and commercial sectors in 2003. Approximately 18 new single-family residences were constructed.  The most significant residential development project in the City continued to be the Twin Lakes project.  Residents started to move into patio homes in November of 2003.
<br>
<br>
The redesign of the website was done to help focus services for different groups of customers and make information easier to locate including online lodge reservations.  It also provided City Council with a way to quickly access documents they may need.
<br>
<br>
The police department introduced Problem Oriented Policing where problem-solving and addressing the underlying issues that cause problems are the primary focus.
<br>
<br>
The fire department purchased a new ladder truck which arrived in October of 2003.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
	The community development department considered requests for proposals for the development of the Triangle site.  This site at the southeast corner of Montgomery and Cooper Roads and Main Street had undergone an extensive clean-up process to remove contamination from underground gas storage tanks. The site was eventually cleaned and environmental clean-up was completed.
<br>
<br>
The final phase of renovations at Bethesda North Hospital was completed, including a new entrance and operating and examination rooms.
<br>
<br>
New commercial construction included a new Audi automotive dealership, Tuffy Auto Center on Cooper Road, Steak & Shake on Montgomery Road.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
In 2003, 550 volunteers contributed over 3,000 hours on projects such as Beautification Day, Bastille Day, Sensory Sundays and July 4 Festival along with assisting in the work of the nine City Boards and Commissions including the recently-developed Environmental Advisory Commission.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			Public works oversaw the clean-up of the site at Montgomery Road, Cooper Road and Main Street including the removal of contaminated soil and the demolition and removal of a former bank building at 9356 Montgomery Road.
<br>
<br>
The public works department mapped the City’s public storm sewer system.
<br>
<br>
The public works department completed the restoration of the Universalist Church with complete brick tuck pointing repair of the south and east exterior walls.
<br>
<br>
Public works also completed two significant improvements at the Hopewell Cemetery including landscaping the perimeter and refurbishing the entry way and gateway.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/schooltrivia" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
