<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2008: Montgomery Citizens' Leadership Academy</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/leadership.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2008
			</ion-card-title>
			The first inaugural Montgomery Citizens’ Leadership Academy class graduated 25 highly engaged citizens.  This program featured partnerships with Bethesda North Hospital, Ohio National Financial Services, Hamilton County Regional Operations Center and Sycamore Community Schools.
<br><br>
Eighteen local organizations joined together as the Montgomery Civic Collaborative to begin a dialogue working towards building community.  Local organizations used this opportunity to integrate their efforts.
		</ion-card-content>
	</ion-card>


	<ion-card>
<img class="magazine" src="assets/icon/magazine.jpg"/>
		<ion-card-content>
The City of Montgomery was recognized in 2008 as the #1 Suburb in Greater Cincinnati by <a target="_blank" rel="noopener" href="http://thedaytonmagazine.com/Main/Articles/Cincy_Rating_the_Burbs_2008_2578.aspx">Cincy Business Magazine</a>.


			
		</ion-card-content>
	</ion-card>



	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 2008, City Council Members Mark Combs, Barry Joffe, Vicki Hirsch, Lynda Roesch and Todd Steinbrink continued their service on City Council.  Mayor Gerri Harbison and Vice Mayor Ken Suer continued their service as Mayor and Vice Mayor.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $29,523,468.

<br>
<br>
Total Revenues for 2008:   $17,016,000 <br>
Total Expenditures for 2008:  $13,250,000

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees.
<br>
<br>
Jim Hanson joined the City of Montgomery in January of 2008 as the finance director.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			Open City Hall Forum was developed as a blogging tool aimed at expanding citizen access to City Hall, creating an additional outlet for citizen participation and engagement in the community.
<br>
<br>
RecycleBank was officially launched in 2008.  The program offered the use of larger, wheeled recycling toters with an incentive to Montgomery residents to receive coupons and gift certificates based on the amount of materials recycled.
<br>
<br>
The police department, for the first time, offered a crime scene investigation class as a recreation programming option.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		A group of local business professionals launched Prosper Montgomery to promote downtown Montgomery as a great place to shop and dine.
<br>
<br>
The Clubhouse at the Vintage Club was constructed in 2008 and, in September, Cincinnati Magazine held an open house for a design home in the development that featured energy saving features such as geothermal heat.
<br>
<br>
Key Bank constructed a new bank at the corner of Montgomery Road and Mitchell Farm Lane.
<br>
<br>
An architectural firm purchased the old Bally’s building, 9675 Montgomery Road, and completely renovated the interior for office space.
<br>
<br>
The economic downturn caused the delay of the proposal from Twin Lakes to construct 23 new garden homes along the east side of Montgomery Road north of Schoolhouse Lane.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Five hundred volunteers gave 2,500 hours of their time to the community in 2008.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			A project was completed to align the left turn lanes on Montgomery Road at the main entrance of Bethesda North Hospital.  The project included the removal and replacement of a portion of landscaped medians along Montgomery Road to improve the sight distance for motorists turning left off of Montgomery Road.



		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/leadershiptrivia" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>