<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">City Services Photos</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img class="style" src="assets/icon/s1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Fire Dept. on Shelly Lane, Now Don’s Auto – Left to Right – F. Hedddofer, Lloyd Rasch, Clarence Smith, Claude Boehm, Bud McBride, George Dahm, Bill Hoffman, Charles Butts


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s2.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Fire Station on Shelly Lane, Built 1930


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s3.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Ground breaking for new Fire Station located downtown


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s4.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Old Montgomery Fire Station, Now Gattles


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s5.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				1961 Seagrave Fire Truck


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s6.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				1968 Persch 85 foot Aerial Fire Truck


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s7.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				1975 Pirsch Fire Truck


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s8.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				1978 Seagrave Fire Truck


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s9.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Fire – Feb 4, 1960


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s10.jpg"/>
		<ion-card-content>

		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s11.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Otmar Fire, April 8, 1970, Claude Boehm and Jim Meyer


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s12.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Otmar Fire, April 8, 1970 – Don Bruce and Ed Johnson

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s13.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Otmar Fire, April 8, 1970 – LLoyd Rasch, Chief being helped, Charlie Butt seated

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s14.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Firefighters during Otmar Fire, April 8, 1970


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s15.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Police Officers – 1970


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s16.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Left to Right – Joe Marcum, Chief Ray Moore, John Hasse – 1957


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s17.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Chief Ray Moore


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s18.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Police Dept. Office Worker


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s19.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Jail Cell Tour


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s20.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Universalist Church after new phone lines were installed in Montgomery

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s21.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Installing new telephone service in Montgomery – 1960


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s22.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				The old technology


			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/s23.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Universalist Church after new phone lines were installed in Montgomery


			</ion-card-title>
		</ion-card-content>
	</ion-card>
<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/photoalbum" routerDirection="root"> Back to Photo Album
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
</ion-content>
