<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary"> 2005: Montgomery Kiwanis Art Show</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>

	<ion-card>

		<img class="kiwanis" src="assets/icon/artshow1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				1968 Montgomery Kiwanis Art Show
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col>
					<img  src="assets/icon/artshow5.jpg"/>
				</ion-col>
				<ion-col>
					<img  src="assets/icon/artshow2.jpg"/>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<img src="assets/icon/artshow3.jpg"/>
				</ion-col>
				<ion-col>
					<img  src="assets/icon/artshow4.jpg"/>
				</ion-col>
			</ion-row>
		</ion-grid>
			<ion-card-title color="primary"> 
			Significant Events in  2005 </ion-card-title>
				Montgomery Kiwanis Art Show marked it's 50th year in 2005
			
		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col>
					<img  src="assets/icon/2005-1.jpg"/>
				</ion-col>
				<ion-col>
					<img  src="assets/icon/2005-2.jpg"/>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<img src="assets/icon/2005-3.jpg"/>
				</ion-col>
				<ion-col>
					<img  src="assets/icon/2005-4.jpg"/>
				</ion-col>
			</ion-row>
		</ion-grid>
		
		In May 2005, eighteen representatives from Neuilly-Plaisance visited Montgomery. This delegation included teachers, school administrators and City officials.
		<br>
		<br>
Updates and redesign were completed on Parrott Alley to improve the pedestrian connection between the Shelly Lane parking lot and Montgomery Road.			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="dark">
		
			<ion-card-title color="primary" size="small">
				Elected Officials
			</ion-card-title>
			During 2005, terms of office expired for Mayor Gary Blomberg and Ed Daniel.  Joining City Council Members Gerri Harbison, Todd Steinbrink, and William Niehaus were newly elected members Mark Combs and Barry Joffe.  Ken Suer and Lynda Roesch were elected to continue their service on City Council.  City Council elected Gerri Harbison as Mayor and Ken Suer as Vice Mayor.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
			Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $17,089,475.
<br>
<br>
Total Revenues for 2005: $16,555,456 <br>
Total Expenditures for 2005: $14,301,096
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Employment
			</ion-card-title>
A full range of City services was undertaken by 53 full-time and 40 part-time employees.
<br>
<br>
Police Chief Kirk Nordbloom retired, and Police Chief Don Simpson was hired in May.
		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Services
			</ion-card-title>
A comprehensive survey was done and found 97 percent of respondents were very satisfied or satisfied with the quality of life in Montgomery and 80percent agree that municipal services are a good value for their tax dollars.
<br>
<br>
The City of Montgomery received its tenth Tree City USA award.
<br>
<br>
The City of Montgomery adopted the National Incident Management System known as NIMS. This came out of the Homeland Security presidential directive HSPD-5.  This management system is adopted in the incident of emergency situations.
<br>
<br>
The City’s community development department reported 24 applications had been submitted to tear down housing stock in Montgomery, a record.
<br>
<br>
With the introduction of e-government services, there was a reported 300% increase in the use of the website.
<br>
<br>
Montgomery held its first Citizen’s Police Academy.
<br>
<br>
The City of Montgomery ended its summer recreation camp program due to declining enrollment and increasing local competition.
<br>
<br>
The Montgomery Road Corridor design guidelines were developed and approved.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Businesses and Partners
			</ion-card-title>
The City approved the relocation of Montgomery Chevrolet from downtown to 9750 Montgomery Road. This project involved a new building and site plan and was controversial in the community.
<br>
<br>

Twin Lakes Senior Living Community completed construction of the main campus with 206 independent living units and 65 assisted living units.
<br>
<br>

As part of the Phase II expansion of Bethesda North Hospital, construction began on a seven-story bed tower for 130 new inpatient beds.
<br>
<br>

Great Traditions Land Development Company submitted a proposal for The Vintage Club of Montgomery, a project on 70 acres of undeveloped land owned by the Gate of Heaven Cemetery.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Volunteers
			</ion-card-title>
Approximately 500 volunteers assisted the City at a number of events throughout the year. This includes the ongoing commitment of our volunteer board and commission members. Additionally, over 200 children from local elementary schools participated in Beautification Week park planting and twelve families agreed to host visitors from France who came on an exchange.


		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Capital Projects
			</ion-card-title>
Updates and redesign were completed on Parrott Alley to improve the pedestrian connection between the Shelly Lane parking lot and Montgomery Road.
<br>
<br>
Construction of a new public sidewalk along Adventure Lane and Shadowhill Way in the Storybook Acres and Shadowhill Acres subdivisions was completed.

		</ion-card-content>
	</ion-card>

	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/arttrivia" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>

