<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2012: Community Emergency Response Team (CERT)</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/CERT.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2012
			</ion-card-title>
			The fire department and customer service department initiated a new program called the Community Emergency Response Team (CERT). Twenty-three residents were trained to assist in the event of a disaster or emergency.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
Joining City Council Members Chris Dobrozsi, Barry Joffe, Lynda Roesch and Ken Suer were Gerri Harbison, Craig Margolis and Todd Steinbrink who were elected to continue their service on City Council.  City Council elected Ken Suer as Mayor and Todd Steinbrink as Vice Mayor.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $19,140,677.

<br>
<br>
Total Revenues for 2012: $16,642,000 <br>
Total Expenditures for 2012: $14,262,000

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees.
<br>
<br>
After 30 years of public service, with 14 of those years with the City of Montgomery, City Manager Cheryl Hilvert transitioned to a part-time advisory position with the City and then retired.
<br>
Also after 30 years of service with the City of Montgomery, Tax Commissioner Becki Wellbrock retired.
Public Works Director Bob Nikula and Police Detective Don Jasper also retired.
<br>
Faith Lynch was hired in the newly expanded role of Assistant Director of Community Engagement, formerly the Communication Coordinator position.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			During 2011, the police department was recognized as a “Platinum” level award winner in traffic safety efforts by AAA.
<br><br>
The City developed and adopted a new five-year Strategic Plan.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
Nine new retail and service businesses opened during the year, which resulted in a much higher occupancy rate for the multi-tenant commercial properties.
<br><br>
The Honda dealership property, which was vacated when the dealership was sold and relocated in 2010, was purchased by Twin Lakes Senior Living Community.
<br><br>

Plans were submitted and approved for the redevelopment of the Perkins Restaurant (9321 Montgomery Road) property.
<br><br>

The vacant Chevrolet dealership (9292 Montgomery Road) drew interest from several developers, and by year’s end was awaiting transfer from the bankruptcy court to a new owner.
<br><br>

A new resident welcoming event called Community Connections was launched in partnership with the Sycamore Community Schools, along with participation from the City of Blue Ash.
<br><br>

Connect Montgomery’s inaugural Making a Difference Day event held on October 22, involved over eighteen community groups joined to make a unified impact in Montgomery and surrounding communities.
		</ion-card-content>
	</ion-card>

	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
		The Cornell Road Sidewalk Project began at the main entrance to Sycamore High School and continued west to the I-71 overpass and provides a connection point to the City of Blue Ash.
<br><br>
The Pfeiffer Road at Storybook Drive Improvements Project was completed.  This project included the removal of existing traffic signal poles and span wires, replaced with decorative traffic signal poles with mast arms equipped with video monitoring devices.  A new sidewalk was installed beginning at the northwest corner of the intersection and continues west adjacent to the Gateway Falls.
<br><br>
The Pfeiffer Road Pond and Waterfall and Twinkle Waterline Project was substantially completed in 2011.
<br><br>
The Pfeiffer Road Sidewalk Project from TriHealth to the east side of I-71 was substantially completed in 2011.
		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/certtrivia" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>


