<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2015: July 4th Celebration in Neuilly-Plaisance, France</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>

		<img src="assets/icon/ville.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				A Welcome Banner in Neuilly-Plaisance, France
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img src="assets/icon/frenchguests.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				Montgomery Delegation with French guests
			</ion-card-subtitle>
			<ion-card-title color="primary">
				Significant Events in 2015
			</ion-card-title>
In early July, Mayor Todd Steinbrink joined former Montgomery Mayor Gary Blomberg, City Manager Wayne Davis, and Sister Cities Commission member Jack Wild, as they traveled to Montgomery’s Sister City, Neuilly-Plaisance, France, to assist with its inaugural July 4th Celebration.  “Week-end de l’Amitie” honored the City of Montgomery and the twinning relationship. Neuilly-Plaisance also dedicated a street in honor of the City of Montgomery, “chemin de Montgomery.”

<br>
<br>

Several representatives from Montgomery, Ohio, also visited the Village of Montgomery, New York, to rekindle a sister cities relationship that was created several years ago. Many original Montgomery, Ohio, settlers originated from the Village of Montgomery, New York.  Montgomery City Council and staff participated in the General Montgomery Day parade on September 12, 2015, and met with several Village officials to develop a schedule for future interactions to build the relationship.
<br>
<br>

The City was again recognized with a Tree City USA Award for the 19th year and also a Tree City USA Growth Award for the 17th year for an ongoing commitment and action focused on environmental stewardship through care of public trees in the city’s urban forest.
<br>
<br>

The City of Montgomery website received the Pinnacle Award for the City/County Small Population Group category during the National Association of Government Web Professionals annual conference.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
On December 2, Gerri Harbison, Chris Dobrozsi, Lynda Roesch, Craig Margolis, and Mike Cappel accepted their oaths of office.  The City Council then elected Chris Dobrozsi as Mayor and Lynda Roesch as Vice Mayor.  City Council also thanked outgoing City Council Member Todd Steinbrink for his many years of service to our community.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, it oversaw operations and administration of a budget of $19,288,343.

<br>
<br>
Total Revenues for 2015: $17,396,118 <br>
Total Expenditures for 2015: $17,304,900

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees.
<br>
<br>
Susan Hamm, clerk of council/administrative coordinator, retired after 31 years of service.
<br>
<br>
Dave Reuther, police officer, retired after 25 years of service.
<br>
<br>
Tracy Roblero was appointed as the Community Development Director.
<br>
<br>
Jim Hanson retired after 41 years in public service, eight of those years with the City of Montgomery.
<br>
<br>
Alex Janszen and Alexis Guilkey sworn in as new police officers.
<br>
<br>
Connie Gaylor was promoted from customer service representative to administrative coordinator and clerk of council.
<br>
<br>
Melissa Hays hired as zoning administrator.
<br>
<br>
Julie Kipper was hired as to fill the customer service representative position.
<br>
<br>
Sarah Fink was hired as the new Recreation Specialist.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The City contracted with the University of Cincinnati’s Institute for Policy Research and Management Partners, Inc. to work in collaboration with City Council and staff to create the 2016-2021 Strategic Plan.
<br>
<br>
The Recreation Annex building received a complete makeover. Numerous projects were completed including a new ceiling with new lighting that was repurposed from the former Ford dealership site, new exercise specific flooring, a new sound system, new exercise equipment and a freshly painted interior.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
	The Christ Hospital Health Network Outpatient Center and medical offices on the southwest portion of the Vintage Club property opened in 2015.
<br>
<br>
The Montgomery Community Improvement Corporation (CIC) issued a request for proposals for the 11.5 acres of property known as the Gateway Redevelopment Area (GRA) located at the northeast corner of Montgomery Road and Ronald Reagan Cross County Highway. On October 7, the CIC voted to designate Gateway Partners, LLC as the preferred developer for the GRA. Gateway Partners, LLC is a partnership of several development companies, with the team led by Great Traditions Land and Development Company.
<br>
<br>
Fifth Third Bank completed a demolition and rebuild of the bank building located at 9990 Montgomery Road. The bank chose Montgomery as the location of the prototype store for its new model which opened in January of 2016.
<br>
<br>
Twin Lakes Senior Living Community demolished the former Honda buildings on Montgomery Road in order to accommodate a building expansion and potential retail use along Montgomery Road.
<br>
<br>
The Community Engagement Grant was awarded to the Montgomery Farmers’ Market to create engaging programming for the many residents and visitors who shop locally at the Saturday morning Farmers’ Market.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
More than 400 volunteers donated 3,678 hours of service to the community. In April of 2015, five exceptional volunteers were added to the Volunteer Walk of Fame. The inductees include Boyann Bedell, Michael Harbison, Ron Keeling, Phil Schwartz, and Marcallene Shockey.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			The public works staff coordinated the completion of major infrastructure repairs and rehabilitation of approximately 2.05 centerline miles of roadway resurfacing all or portions of seven streets including Forestglen Drive, Woodfern Way, Glenash Court, Stonehenge Drive, Delray Drive, Castleford Lane, and Belleford Court.
<br>
<br>
In 2015, 26 of the 704 fire hydrants were replaced within the City.  This work was done in conjunction with the street resurfacing program and was the second year of a multi-year comprehensive plan to address the aging fire hydrants in the community.
<br>
<br>
The Safety Center parking lot was expanded with the construction of an additional 19 parking spots along the southern portion of the parking lot.
<br>
<br>
The public works department continued work in 2015 on a five-year plan to repair and replace identified sections of guardrail to assure compliance with safety standards set forth by the Ohio Department of Transportation. In 2015, approximately 680 feet of guardrail replacement was completed on East Kemper Road between Terwilligers Run Drive and Hightower Court.
<br>
<br>
In 2015, the Ohio Department of Transportation awarded the Pfeiffer Road at Montgomery Road Improvement Project to Barrett Paving Materials, Inc.  The cost to complete the project was approximately $690,000 and was primarily funded by grant dollars secured from the Ohio-Kentucky-Indiana Regional Council of Governments.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>