<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2009: Neuilly-Plaisance Plaza Fountain</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/neuillyfountain.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2009
			</ion-card-title>
			The Neuilly-Plaisance Plaza improvement project was completed.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 2009, the term of office expired for Mark Combs.  Joining City Council Members Gerri Harbison, Todd Steinbrink and Vicki Hirsch was newly elected member Chris Dobrozsi.  Barry Joffe, Lynda Roesch and Ken Suer were elected to continue their service on City Council.  City Council elected Gerri Harbison as Mayor and Ken Suer as Vice Mayor.

		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $30,081,551.

<br>
<br>
Total Revenues for 2009: $16,485,000 <br>
Total Expenditures for 2009: $14,939,000

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees. The City hired Ellen Hall in the recently created communications coordinator position.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
The City of Montgomery produced <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=hbvW-GHT9Rk&feature=emb_title">"Living the Life of Montgomery"</a> as an original song about Montgomery as a community.

<br><br>
Social media communications started with a City presence on Facebook, Twitter, and YouTube channels.
<br><br>

The City’s Development Department started using CAGIS, Cincinnati Area Geographical Information System.
<a target="_blank" rel="noopener" href="http://cagismaps.hamilton-co.org/cagisportal">(http://cagismaps.hamilton-co.org/cagisportal)</a>.
<br><br>

Free Wi-Fi spots were installed at Swaim and Dulle parks, City Hall, and the Montgomery Community Pool.
<br><br>

This year marked the first year of My Dog’s Got Talent event which later was established as Dog Fest and K-9 Kerplunk.
<br><br>
The City adopted new regulations for owning exotic animals and farm animals as pets. This regulation allowed residents to raise chickens for eggs, among other things.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		Ray Williams Heating and Air Conditioning, the oldest business in the city, closed in 2009.
<br><br>
Mary Jo Cropper Family Center for Breast Care at Bethesda North Hospital opened in the building that used to house the Cincinnati Eye Institute.
<br><br>
Clossons home furnishings store closed.
<br><br>
Sackstetter’s Interiors closed and the building was sold to Goodwill Industries.
<br><br>
The business association known as Prosper Montgomery evolved to become The District and established thedistrictonline.com.
<br><br>
The City of Montgomery, in conjunction with the Hamilton County Health Department, organized and staffed two PODs (Points Of Distribution) to vaccinate residents from the H1N1 virus which was believed to be a serious public health threat. The Fire Department partnered with the Sycamore High School for one point of distribution POD.
<br><br>
The City started the Johnson Nature Preserve entrance improvements. Ohio National Financial Services donated a memorial plaque that was placed at the entrance in rememremembrance of the 1999 tornado.
<br><br>
A survey was completed to evaluate need or interest in a local Farmers’ Market.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Approximately 430 volunteers donated 1,987 hours of their time in service to the community.  The estimated value of this contribution is $41,429 and includes the 63 volunteers who served on the ten boards and commissions that help run the City.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			An Ohio-Kentucky-Indiana Regional Council of Governments grant of $540,000 was awarded to the City of Montgomery to start a signal project for twelve City intersections.
<br><br>

The City acquired the Montgomery Businessman’s Club property and the building was demolished.
<br><br>

The Montgomery Road Heritage District streetscape between Cooper and Remington was replaced, which included the replacement of older trees and new brick sidewalks.
<br><br>

A fiber optic line was installed between City Hall and the Safety Center to improve transmission of data and information.
<br><br>

New bus stop shelters were installed on Montgomery Road.
		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>