<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">1998: Sister Cities World Youth Soccer Exchange</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/soccer.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 1998
			</ion-card-title>
			In April 1998, the Montgomery Sister Cities Commission hosted 20 youth soccer players from Neuilly-Plaisance, France, as part of the World Youth Soccer Exchange.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 1998, City Council Members Janeanne Archiable, Gary Blomberg, Gary Gross, Gene McCracken and William Niehaus continued their service on City Council.  Mayor Richard Tuten and Vice Mayor Gail Winiarz were reappointed to serve as Mayor and Vice-Mayor. On December 3, 1998, Vice Mayor Gail Winiarz resigned as a member of City Council.  In early 1999, City Council appointed Don Cornett to Gail Winiarz’s unexpired term.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $9,154,357.

<br>
<br>
Total Revenues for 1998: $10,349,526 <br>
Total Expenditures for 1998: $5,597,936

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 53 full-time and 34 part-time employees.
<br>
<br>
Paul Wright was appointed as the City’s first full-time fire chief; bringing the staffing of the department to seven full-time and 30 part-time staff members.
<br>
<br>
Bob Nikula was appointed as the City’s new public works director, succeeding City Engineer Joe Cron.
<br>
<br>
Wayne Dunn was appointed as the City’s new chief building official succeeding Hank Burwinkel who retired in July after 11 years of services.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			A 10-year capital budget program was introduced in the Fire Department.
<br>
<br>
The first annual Chili Fest was held in conjunction with the Montgomery Historical Society in early October.
<br>
<br>
The “Montgomery Jungle” event featured a large screen presentation of Rudyard Kipling’s “the Jungle Book” with a sand sculpting contest.
<br>
<br>
A new program offered was a lunchtime jazz series at Swaim Park.
<br>
<br>
A new pool program, the Doggie Dip, was introduced.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		A mediation agreement was reached between the City, Storybook residents, and Ohio National Financial Group (ONFG) to allow the display of an illuminated sign on the roof of the ONFG building on Pfeiffer Road.
<br>
<br>
The Sheppard Property, located at Main and Montgomery Roads and the site of the 1982 FBI plane crash, was sold by the City to Daniels Homes for a professional office use.
<br>
<br>
Another City-owned parcel on Main Street was sold to James Free Jewelers, a Dayton jewelry company, which developed the site into a combination retail and office use.
<br>
<br>
An Urban Renewal Plan for the Sage Tavern and abutting properties was approved, which led to three of the four parcels being actively marketed for sale and redevelopment.
<br>
<br>
Montgomery Inn expanded to double the seating capacity of the restaurant, expanded the bar area and added meeting rooms.
<br>
<br>
Sacksteders Interiors renovated a former restaurant at 9820 Montgomery Road.
<br>
<br>
The redevelopment of a medical office building for Dr. Mandell-Brown at 10735 Montgomery Road was completed.
<br>
<br>
Bethesda North Hospital expanded and improved its emergency facilities.
<br>
<br>
A new façade was applied to the old Firehouse on Cooper Road as part of turning the building into a new office structure compatible with the historic district.
<br>
<br>
New businesses located in the City included the Wooden Nickel Antique Store which opened a second location in the City; Great Expectations unique gift shop for infants; Adrien Flyfishers, a fishing and sporting goods store; and Photo Revival, a photo restoration shop.
<br>
<br>
This year also brought the expansion of Sycamore High School which provided additional classrooms and an auditorium.<br>
<br>

Girl Scout Troop 1038 sponsored a “Name the Pond” contest in conjunction with the local elementary schools.  Bethany Polzin, a Montgomery Elementary student, won the contest with her “Safety Sea” nomination.  The “Safety Sea” at the corner of Montgomery and Hopewell Roads was officially dedicated in May.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Community volunteer hours increased significantly in 1998 to 3,802 hours of service to the City, up from 2,357 hours in 1997. This volunteer service provided the City with $48,820 in services to further improve the quality of life in the City.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			A Streetscape Master Plan for the Heritage District was created; the plan also included a location map for future streetscapes, specifications, and revised criteria.
<br>
<br>
A comprehensive signage and identity program for the Municipal Parking Lot was developed, over 30 street lamps were installed in the parking lot and on Shelly Lane and new beautification planters were designed and installed.
<br>
<br>
The closed-loop traffic signal system, which integrated 11 signalized intersections along Montgomery Road and Main Street, was completed in 1998 to improve traffic flow.
<br>
<br>
Over 2,350 linear feet of sidewalk/bikepaths were installed along Deerfield and Zig Zag Roads.
<br>
<br>
Improvements to Hopewell Cemetery included the demolition of the old Sexton House. This house served as the temporary home for the Montgomery Fire Department from 1993-1997.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/soccertrivia" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>

