<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2006: First Classic Car Show</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/car.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2006
			</ion-card-title>
			The City held its first annual Classic Car Show at Weller Park.
<br>
<br>
After a spirited debate within the community, City Council dropped a proposal to establish a Dog Park in Pioneer Park.
<br>
<br>
A comprehensive study of the City’s park system was completed.
<br>
<br>
The City modified the Heritage Overlay District and created a new zoning category named the Old Montgomery Gateway District for the area between downtown and Ronald Reagan Cross County Highway.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
			In 2006, Mayor Gary Blomberg and Council Member Ed Daniel stepped down from their positions.  In the November elections, Mark Combs and Barry Joffe were elected to Council joining Council Members Bill Niehaus, Lynda Roesch, and Todd Steinbrink. Gerri Harbison was elected as Mayor and Ken Suer as Vice Mayor.

		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
			As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $16,684,009.
<br>
<br>
Total Revenues for 2006:   $17,040,886 <br>
Total Expenditures for 2006:  $13,918,267

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees.
<br>
<br>
Wayne Davis was promoted from finance director to assistant city manager and Peter Hames was hired to fill the position of finance director.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The organizational structure of the City was changed and a new Customer Service Department was created.
<br><br>
The 2006 strategic plan, with five major goal areas, was approved by City Council.
<br><br>
City Council amends the code of ordinances to formally establish the Environmental Advisory Commission.
<br><br>
The first labor agreement was negotiated between the City and the newly formed IAFF union in the fire department.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		Work began on Section I of the 65-acre Vintage Club Planned Unit Development on land previously owned by the Archdiocese of Cincinnati.  The Vintage Club is located on Montgomery Road north of Gate Of Heaven Cemetery.  Great Traditions Land Company is the developer of this project.
<br><br>
Work continued on the development of the Montgomery Gateway Center at the southeast corner of Montgomery Road and Cooper Road.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Community volunteers contributed over 3,200 hours of service to the City.


		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			The City continued its sidewalk program by authorizing a contract to construct a new sidewalk along Tollgate Lane between Schoolhouse Lane and Mitchell Farm Lane.
<br><br>
Improvements were completed on Swaim Park Pond.
<br><br>
Work began on the Triangle Point Park improvements.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/cartrivia" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
