<ion-header>
  <ion-toolbar>
    <ion-title>second</ion-title>
    <ion-menu-button autoHide="false" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/favicon.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/favicon.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/cow.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/long.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake Stincks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-item>
		<ion-button slot="end" fill="clear" size="small" routerLink="/firstp1" routerDirection="root">
			<ion-icon slot="end" color="dark" size="medium" name="arrow-dropright"></ion-icon>
		</ion-button>
	</ion-item>
</ion-content>
