<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">1995: Bicentennial Celebration</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/bicentennial.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Bicentennial Celebration
			</ion-card-title>
			
Montgomery celebrated its Bicentennial with celebrations and dedications, among other events which dotted the calendar from June through September.  Private donations provided most of the funding needed for the Bicentennial Plaza and Fountain in front of City Hall.

Videos about the bicentennial: <br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=blrxlTX8qXU&feature=emb_title">Montgomery, Ohio 1995 Bicentennial Celebration Events
</a> <br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=rrg4hGqpHso&feature=emb_title">Montgomery, Ohio Bicentennial Music Video
</a> 


		</ion-card-content>
	</ion-card>

	<ion-card>
		<img src="assets/icon/police.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Officer Don Jasper
			</ion-card-title>
			
In February 1995, Officer Don Jasper was shot following a bank robbery. Office Jasper recovered and faithfully served many more years as a Montgomery officer and detective. The perpetrator is still in prison as of 2016.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 1995, joining City Council members Gary Gross, Fred Kleiser, Janet Korach, David Shardelow and Ivan Silverman were Mayor Donald Hess and Vice-Mayor Richard Tuten.  Gail Winiarz and William Neihaus were elected at the end of the year.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $7,127,654.

<br>
<br>
Total Revenues for 1995: $6,881,282 <br>
Total Expenditures for 1995: $7,127,654

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 51 full-time and 34 part-time employees.
<br>
<br>
City Manager Jon Bormet resigned in November.
<br>
<br>
Joyce Yock was hired as a volunteer coordinator.
<br>
<br>
Law Director Pam Watkins was appointed in May.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The bike path master plan was expanded by two more miles of bike path in 1995 for a total investment of $1.7 million in bike paths.


		</ion-card-content>
	</ion-card>
	
		<ion-card>
			<img src="assets/icon/hospital.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		Pomodori’s, 7880 Remington Road, located their business in Montgomery.
<br>
<br>
Bethesda North Hospital added a $13 million surgical wing, The hospital also planned to construct a $10 million wellness and fitness center in Montgomery in 1996.
<br>
<br>
Groundbreaking of the new headquarters for the Ohio National Life Insurance Company (later the Ohio National Financial Services Company) was held in April of 1995. This project also created the need for $3 million in public improvements.
		</ion-card-content>
	</ion-card>

	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/secondp1" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>