<ion-header>
  <ion-toolbar>
    <ion-title>third</ion-title>
    <ion-menu-button autoHide="false" slot="start"></ion-menu-button>
  </ion-toolbar>
  		<audio controls id="audio-example">
		<source src="/assets/audio/music.mp3">
			Youll see this if native audio playback is not supported
		</audio>
			<style>
	#audio-example{
		display:block;
		width:100% !important;
		padding-left:5% !important;
		padding-right:5% !important;
		padding-top:0px !important;
		padding-bottom:20px !important;
		}
	</style>
</ion-header>

<ion-content>

	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/long.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake Stincks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/favicon.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img height="platform.width()" width="80" src="assets/icon/cow.png"/>
		<ion-card-content>
			<ion-card-title>
				Blake SUcks
			</ion-card-title>
		</ion-card-content>
	</ion-card>
	<ion-item>
		<ion-button slot="end" fill="clear" size="small" routerLink="/firstp1" routerDirection="root">
			<ion-icon slot="end" color="dark" size="medium" name="arrow-dropright"></ion-icon>
		</ion-button>
	</ion-item>



</ion-content>
