<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Montgomery Mayors</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img class="mayor" src="assets/icon/mayorsmethurst.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Lloyd Smethurst
			</ion-card-title>
			<ion-card-subtitle color="danger">
First Mayor, 1910-1921

			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<img class="mayor" src="assets/icon/mayorsmethurst.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Cliff Swift
			</ion-card-title>
			<ion-card-subtitle color="danger">
Second Mayor, 1922-1924

			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/radabaugh.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				James Radabaugh
			</ion-card-title>
			<ion-card-subtitle color="danger">
Third Mayor, 1925-1943
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/behrens.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Thomas Behrens
			</ion-card-title>
			<ion-card-subtitle color="danger">
Fourth Mayor, 1944-1949
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/dietz.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Carl Dietz
			</ion-card-title>
			<ion-card-subtitle color="danger">
Fifth Mayor, 1950-1951


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/todd.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Cliff Todd
			</ion-card-title>
			<ion-card-subtitle color="danger">
Sixth Mayor, 1952-1953
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/sherritt.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				John Sherritt
			</ion-card-title>
			<ion-card-subtitle color="danger">
Seventh Mayor, 1954-1957


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/ventress.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				William Ventress
			</ion-card-title>
			<ion-card-subtitle color="danger">
Eighth Mayor, 1958-1961


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

<ion-card>
		<img class="mayor" src="assets/icon/bartlett.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Chester Bartlett
			</ion-card-title>
			<ion-card-subtitle color="danger">
Ninth Mayor, 1962-1963


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

<ion-card>
		<img class="mayor" src="assets/icon/novak.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Robert Novak
			</ion-card-title>
			<ion-card-subtitle color="danger">
Tenth Mayor, 1964-1975


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>
<ion-card>
		<img class="mayor" src="assets/icon/young.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Fred Young
			</ion-card-title>
			<ion-card-subtitle color="danger">
11th Mayor, 1976-1979


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/kennedy.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Florence Kennedy
			</ion-card-title>
			<ion-card-subtitle color="danger">
12th Mayor, 1980-1983


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/wise.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Haron Wise
			</ion-card-title>
			<ion-card-subtitle color="danger">
13th Mayor, 1983-1985
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/herbold.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Pat Herbold
			</ion-card-title>
			<ion-card-subtitle color="danger">
14th Mayor, 1985-1987
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/mccracken.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Eugene McCracken
			</ion-card-title>
			<ion-card-subtitle color="danger">
15th Mayor, 1987-1989


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="mayor" src="assets/icon/silverman.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Ivan Silverman
			</ion-card-title>
			<ion-card-subtitle color="danger">
16th Mayor, 1989-1993 and 1995-1997
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="mayor" src="assets/icon/hess.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Don Hess
			</ion-card-title>
			<ion-card-subtitle color="danger">
17th Mayor, 1993-1995
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="mayor" src="assets/icon/tuten.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Richard Tuten
			</ion-card-title>
			<ion-card-subtitle color="danger">
18th Mayor, 1998


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="mayor" src="assets/icon/blomberg.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Gary Blomberg
			</ion-card-title>
			<ion-card-subtitle color="danger">
19th Mayor, 1999-2004
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/harbison.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Gerri Harbison
			</ion-card-title>
			<ion-card-subtitle color="danger">
20th Mayor, 2005-2011

			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/suer.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Ken Suer
			</ion-card-title>
			<ion-card-subtitle color="danger">
21st Mayor, 2012-2013


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/steinbrink.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Todd Steinbrink
			</ion-card-title>
			<ion-card-subtitle color="danger">
22nd Mayor, 2014-2015


			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="mayor" src="assets/icon/dobrozsi.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Chris Dobroszi
			</ion-card-title>
			<ion-card-subtitle color="danger">
23rd Mayor, 2016-Present
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Former Mayors' Roundtable Video Project
			</ion-card-title>
Several years ago, City staff members embarked on a project to document Montgomery’s history since the completion of the book <a target="_blank" rel="noopener" href="http://www.montgomeryohio.org/download/history/historic_documents/Montgomery%20history%20book%20optimized.pdf"> History of Montgomery 1795-1995</a>. This book was created, funded and published by the Montgomery Historic Society and the Montgomery Bicentennial Commission as a part of the 1995 Bicentennial celebration.
<br><br>
As a part of this history project, former Montgomery mayors gathered for a recorded roundtable discussion to capture their unique perspectives. The roundtable discussion, moderated by Director of Citizen Engagement Ray Kingsbury, captured their memories serving as mayor, the challenges they faced as well as significant accomplishments during their tenure.
<br><br>
The full two-hour video is packed with anecdotes and recollections on key developments that changed the look and feel of Montgomery.  An additional nine other videos are shorter cuts focusing on how Montgomery has evolved, the Sister Cities exchanges with Neuilly-Plaisance, economic development, zoning and how natural disasters have impacted Montgomery.
<br><br>
Thanks to Janet Korach and the Montgomery Historical Preservation Association for their assistance with this project by providing some of the photographs used in the videos.  A special thank you is also extended to the former mayors who gladly participated in the project.
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=OYukTGeBHA0&feature=emb_title">Full Two Hour Video</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=L09DbUdSlhE&feature=emb_title">Zoning</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=2L6UdhhVwcw&feature=emb_title">Vision</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=990GpC9nUQM&feature=emb_title">Sister Cities</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=uL-HeH3VyWs&feature=emb_title">Funny Recollection</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=PhbFsboTx20&feature=emb_title">Economic Development</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=MvAoFDuezZg&feature=emb_title">City Comes Together</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=VaMqCQKa1H0&feature=emb_title">MCLA</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=7_wkkMBcaUM&feature=emb_title">How Montgomery Has Evolved</a>
<br><br>
<a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=9EHbpemE1fE&feature=emb_title">Wise Words for Newcomers</a>

		</ion-card-content>
	</ion-card>



</ion-content>
