img.imgmg {
	width: 90%;
    height: auto;
    margin-top:5%;
    margin-right: 10%;
}
button.end{
    font-family: 'Garamond', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1.5;
}

img.ems {
	width:100% !important;
	height:auto;
}