<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2014: French Delegation Visits Montgomery</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/bastillemural.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				A Mural Celebrating Bastille Day
			</ion-card-subtitle>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img src="assets/icon/graveline.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				Madeline Graveleine and Mayor Steinbrink during Bastille Day
			</ion-card-subtitle>
			<ion-card-title color="primary">
				Significant Events in 2014
			</ion-card-title>
			The City of Montgomery marked 25 years of friendship with Sister City Neuilly-Plaisance, France, in 2014. To commemorate the anniversary, a 3-D street mural was commissioned to be created during the Bastille Day Celebration held on July 19. The mural was visible for many years on Ted Gregory Lane next to Montgomery Cyclery.
			<br><br>
			During the week of October 12 through 18, the Sister Cities Commission and the City of Montgomery hosted 19 French delegates from Montgomery’s Sister City, Neuilly-Plaisance, France. The delegates included four deputy mayors, two municipal councilors, a municipal advisor, two deputy general directors of city services, an educational advisor, a director and assistant director of culture and events, the principal of the agricultural college, an English professor at the College of Neuilly-Plaisance, an executive assistant to the secretary of the mayor, and the Graveleine family whose 14-year-old daughter, Madeline, had previously been hosted by the Blomberg family. Madeline was honored with a proclamation during the 2014 Bastille Day Celebration.

		</ion-card-content>
	</ion-card>

		<ion-card>
		<img src="assets/icon/delegation.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				French Delegation from Neuilly-Plaisance, France
			</ion-card-subtitle>
			The exchange delegates visited E. H. Greene Intermediate School and the University of Cincinnati Blue Ash as they participated in tours and conversations about area educational systems. They also learned about programs for senior populations during a visit to Twin Lakes.
<br><br>
The exchange was made possible through the support of several volunteer interpreters and 13 host families who opened up their homes and provided transportation, meals, and, most of all, warm hospitality. In addition, many cultural events were made possible through the generous contributions of several area sponsors.
		</ion-card-content>
	</ion-card>


		<ion-card>
		<img class="ems" src="assets/icon/signpost.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				French Delegation from Neuilly-Plaisance, France
			</ion-card-subtitle>
The City was again recognized with a Tree City USA Award for the 18th year and also a Tree City USA Growth Award for the 16th year for an ongoing commitment and action focused on environmental stewardship through care of public trees in the City’s urban forest. This continues recognition received in 2009 when Montgomery was recognized by the Arbor Day Foundation as a “Sterling” Tree City USA which at the time recognized Montgomery as just the sixth community in Ohio to earn this prestigious honor.

<br><br>
In early 2014 the fire department launched a new web-based program available to the residents of Montgomery called EMS SignPost. The program allows the City’s paramedics to use a smart phone to quickly, reliably, and securely access the resident’s health history to aid in providing emergency care during a 911 response. A special access code to each individual’s personal webpage is stored on a refrigerator via a magnetic ID card that the City supplies to the resident free of charge.

		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
Mayor Todd Steinbrink, Vice Mayor Chris Dobrozsi, Ann Combs, Gerri Harbison, Craig Margolis, Lynda Roesch, and Ken Suer served on City Council.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, it oversaw operations and administration of a cash budget of $25,526,693.

<br>
<br>
Total Revenues for 2014: $19,921,401
 <br>
Total Expenditures for 2014: $26,433,991

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 33 part-time employees.
<br><br>
Frank Davis, community development director, retired after 14 years of service with Montgomery.
<br><br>
Patty Alsip retired.
<br><br>

Matthew Vanderhorst was appointed as Director of the new Community and Information Services Department.
<br><br>

Ben Shapiro was promoted to assistant fire chief.
<br><br>

Sergeant John Crowell was promoted to Lieutenant.
<br><br>

Officer Nimeskern was sworn in as a new police officer.
<br><br>

Officers Kevin Gruber and Mike Davenport were promoted to Sergeant.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			Summer mini-camps help keep kids active in the summer. Seven weeks of camps were planned and implemented which included Theater Camp, Mobile Application Development Technology Camp, Tennis for Pee Wees and Juniors, and Madscience Madness Camp.
<br><br>

It was a record-setting year for the Montgomery Community Pool with much of the success being attributed to the addition of the pool heater. In the past five years, memberships averaged 519, while in 2014, there were 666 memberships sold. This represents a 13 percent increase in pool memberships as compared to 2013. Daily attendance skyrocketed with 19,763 people visiting the pool.
<br><br>

For the fourth year in a row, the police department received the American Automobile Association’s Platinum Award. The Platinum Award is the highest award given by the association to agencies demonstrating outstanding success in addressing community traffic safety issues.
<br><br>

The Child Car Seat Safety Program taught 214 citizens how to properly use and place their children in car seats in 2014. Since the beginning of this program in 1999, the department has instructed over 2,770 individuals in the proper installation of child car seats.
<br><br>

As a result of the 2011-2016 Strategic Plan, the community engagement and customer service departments were merged into one department, the community and information services department. In addition, the community pool, recreation programming, and special event activities, which were previously under the community engagement department, were moved to the public works department to realize work process and management efficiencies. There was no increase in the number of positions; however, a senior management position was eliminated and a front-line position was added.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		The new Christ Hospital Outpatient Center and medical offices were completed. A new 80,000 square foot building and a 20,000 square foot building were built by the developer, Brandicorp, with the City committing to construct a 321-space parking garage under a portion of the larger building.
<br><br>

The City acquired approximately 11.5 acres of property known as the Gateway Redevelopment Area (GRA) at the northeast corner of Montgomery Road and Ronald Reagan Cross County Highway.  The site consists of the former Chevrolet dealership at 9292 Montgomery Road and the former Ford dealership at 9260 Montgomery Road as well as approximately 2.5 acres of land purchased from Hamilton County abutting Ronald Reagan Cross County Highway.  The City demolished the former Chevrolet dealership building and planned to issue a Request for Qualifications in 2015 in order to partner with a high-quality development team on an integrated, mixed-use project that is complementary in scale and design to the adjacent historic district and sensitive to the real estate market.
<br><br>

The Community Engagement Grant was awarded to Montgomery Food Share for the purchase of 1,000 reusable bags embossed with the Montgomery Food Share logo. Since the award of this grant, all 1,000 bags have been distributed in thirteen organized neighborhoods.  A total of 20,380 lb. of food was collected in 2014 resulting in 16,985 meals being provided to families in need.
		</ion-card-content>
	</ion-card>
	
<ion-card>
		<img src="assets/icon/walkoffame.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				Volunteer Walk of Fame Dedication <br>
Left to Right: Gerri Harbison, Craig Margolis, Mayor Steinbrink, Ken Suer, Ann Combs, Vice Mayor Chris Dobrozsi, Lynda Roesch
			</ion-card-subtitle>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
		More than 430 volunteers donated 5,526 hours of service to the community. On April 23, 2014, the Volunteer Walk of Fame was dedicated honoring 41 volunteers.  This brick path, located in Montgomery Park, was created to recognize volunteers who have made substantial contributions to the City through their volunteer service.


		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			The public works staff coordinated the completion of major infrastructure repairs and rehabilitation of approximately 2.34 centerline miles of roadway, resurfacing all or portions of ten streets including Croton Drive, Traverse Court, Trabant Drive, Mellon Drive, Higgins Court, Pfeiffer Road, Peachtree Lane, Londonridge Court, Grandoaks Lane and Bookmark Place.
<br><br>

Staff also coordinated the replacement of 23 of the 704 total fire hydrants within the City. This work was done in conjunction with the Street Resurfacing Program and was the first year of a multi-year comprehensive plan to address the aging fire hydrants in the community.
<br><br>

The public works department began work in 2014 on a five-year plan to repair and replace identified sections of guardrail to assure compliance with safety standards set forth by the Ohio Department of Transportation. In 2014, approximately 680 feet of guardrail replacement was completed on East Kemper Road between Terwilligers Run Drive and Hightower Court.

		</ion-card-content>
	</ion-card>
	
<ion-card>
		<img src="assets/icon/MikeBrown.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				Mike Brown
			</ion-card-subtitle>
			<ion-card-title color="primary">
				In Memoriam
			</ion-card-title>
On January 24, Mike Brown, beloved public works employee, lost his life in a tragic accident on his way to work.
<br><br>
Mike was 43 years old and left behind his wife and three children. Mike loved and was deeply devoted to his family and to his community. He enjoyed coaching his kids in basketball and softball. He was involved with the Clermont County Fairgrounds and in 4-H with his kids, helping them show their animals. He enjoyed hunting, watching sports and just being outside in general.
<br><br>
He will be missed by a great many who knew him in many different ways.

		</ion-card-content>
	</ion-card>


	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
