<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Aerial Photos</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

		<ion-card>
		<img class="style" src="assets/icon/aerial1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Tanagerwoods Golf Course, 1975
			</ion-card-title>
		</ion-card-content>
	</ion-card>

<ion-card>
		<img class="style" src="assets/icon/aerial2.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Swaim Golf Course, 1975
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial3.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Swaim Field before I-71 in 1950
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial4.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Storybook Acres being developed, before I-71
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial5.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Maple Dale Elementary (center), Zig Zag Rd. on top right of photo, before I-71
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial6.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Hartfield Pl. and Kennedy Ln. before Ronald Reagan Cross County Highway
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial7.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Ferris and Stacy Subdivision, 1958
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial8.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Downtown Montgomery, 1958
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial9.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Charlies Oyster Bar and Grill, now Carlo and Johnny’s, 1958
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial10.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Buxton Ln. and Hopewell Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial11.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Aerial View of Montgomery Rd.
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial12.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Center of Downtown, Montgomery Rd. and Cooper Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial13.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				United Jewish Cemetery and Hopewell Cemetery at the top. Note that the Jewish Cemetery entrance is on Montgomery Rd. and Forestglen had not been built yet.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/aerial14.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Montgomery Road – bottom left is where Montgomery Park is today.
			</ion-card-title>
		</ion-card-content>
	</ion-card>


	<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/photoalbum" routerDirection="root"> Back to Photo Album
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
</ion-content>
