<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Downtown Photos</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<img class="style" src="assets/icon/d1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Yost Tavern (right)

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d2.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Unpaved Montgomery Road

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d3.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
NE corner of Montgomery and Cooper roads in 1950

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d4.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
SW corner of Cooper Rd. and Montgomery Rd., 1949

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d5.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
SE corner of Cooper Rd. and Montgomery Rd. around 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d6.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Corner of Montgomery and Cooper – 1949

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d7.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
SE Corner of Montgomery Rd. and Cooper Rd., 1910

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d8.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Pure Oil Station – NW Corner of Montgomery and Cooper

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d9.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Parking Lot on Shelly Lane

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d10.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Looking north on Montgomery Rd. and Main St., 1977

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d11.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Goodwin Grocery Store – NE corner of Montgomery and Cooper

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d12.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Looking south towards corner of Montgomery Rd. and Cooper Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d13.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Inn fire – April 8, 1975

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d14.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Rd. and Main St., 1955

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d15.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
NE Corner of Montgomery Rd. and Remington Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d16.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
NW Corner of Montgomery Rd. and Cooper Rd., 1910

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d17.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
NW corner of Montgomery Rd. and Cooper Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d18.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Old Ford Dealership on Montgomery Rd

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d19.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Former Montgomery Cyclery Location

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d20.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Downtown on Montgomery Rd. facing Remington Rd.

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d21.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Corner of Montgomery Rd. and Cooper Rd., 1950

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d24.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Looking south towards the corner of Montgomery Rd. and Cooper Rd., 1970

			</ion-card-title>
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img class="style" src="assets/icon/d23.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Downtown Montgomery – 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>


<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/photoalbum" routerDirection="root"> Back to Photo Album
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
</ion-content>
