<ion-header>
  <ion-toolbar>
    <ion-title>firstp3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-button slot="end" fill="clear" size="small" routerLink="/firstp4" routerDirection="root">
			<ion-icon slot="end" color="dark" size="medium" name="arrow-dropright"></ion-icon>
		</ion-button>
		<ion-button slot="start" fill="clear" size="small" routerLink="/firstp2" routerDirection="root">
			<ion-icon slot="start" color="dark" size="medium" name="arrow-dropleft"></ion-icon>
		</ion-button>
	</ion-item>
</ion-content>
