<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2016: Rain Harvest System</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/rain.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2016
			</ion-card-title>
			The public works department received a grant from the Hamilton County Storm Water District in the amount of $69,184 for the installation of a rain harvest system and conversion of a detention basin to a retention pond at the public works facility. The rain harvest system included the installation of a 5,000-gallon water tank that captures rain water runoff from approximately 5,700 square feet of roof area and is used to make salt brine for winter operations during the winter months and to water the annual flowers and hanging baskets during the summer months.  The rain harvest system also eliminates the current rain water runoff that would normally be routed to a detention basin near the front of the facility resulting in a positive impact to the drainage system as it moves downstream. The rain harvest system was recognized nationally by receiving innovation awards from the Alliance for Innovation and the American Public Works Association.
		</ion-card-content>
	</ion-card>

	<ion-card>

					<img class="rain1" src="assets/icon/rain1.jpg"/>

					<img class="rain2" src="assets/icon/rain2.jpg"/>
					<ion-card-content>

		In 2016, the City was again recognized with a Tree City USA Award for the 20th year and also a Tree City USA Growth Award for the 18th year for its ongoing commitment and action focused on environmental stewardship through care of public trees in the City’s urban forest.

		</ion-card-content>
	</ion-card>

		<ion-card>
		<img src="assets/icon/raingroup.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				Assistant Fire Chief Ben Shapiro, City Council Member Craig Margolis, Sister Cities Chair Marcallene Shockey, and Sister Cities Commission Member Jack Wild.
			</ion-card-subtitle>
		Several representatives from the City of Montgomery visited the Village of Montgomery, New York, in support of the sister cities relationship created a number of years ago.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
Mayor Chris Dobrozsi, Vice Mayor Lynda Roesch, Mike Cappel, Ann Combs, Gerri Harbison, Chris Margolis, and Ken Suer served on City Council. On December 31, 2016, Council Member Ann Combs resigned from her seat on City Council. Mrs. Combs served the City for three years before the sale of her home and subsequent move outside of the city.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, it oversaw operations and administration of a budget of $28,199,651.

<br>
<br>
Total Revenues for 2016: $17,731,419<br>
Total Expenditures for 2016: $16,055,682

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees.
<br>
<br>
Officer Tom Wagner retired after 25 years of service with the City of Montgomery.
<br>
<br>
Officer Pat Giblin retired after several years of service with the City of Cincinnati and 18 years of
service with the City of Montgomery.
<br>
<br>
Katie Smiddy was hired as the Finance Director.
<br>
<br>
Steve Hoy, Scott Bierer, and Martin Day sworn in as new police officers.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
		The City of Montgomery was recognized as a WeThrive! Community by Hamilton County Public Health.
<br>
<br>
The police department added an Internet Purchase/Exchange Zone in the Safety Center parking lot for residents to utilize when meeting sellers or buyers. The area is under 24-hour video surveillance and provides a safer area to meet and conduct sales.
<br>
<br>
A School Resource Officer program was added to Sycamore Junior High.
<br>
<br>
The MCLA Alumni gathered for the first-ever MCLA 2.0, “a graduate-level course” on April 14, 2016, at Maple Dale Elementary.  With the assistance of Xavier University’s Community Building Institute, the City of Montgomery hosted 65 MCLA Alumni, Sycamore Community Schools’ officials, City Council members, and  City staff to discuss the multiple, critical components involved in national trends in housing, including shared housing, inter-generational housing, and national best practices.
<br>
<br>
The Service to the Community Grant was awarded to the Montgomery Farmers’ Market to create engaging programming for the many residents and visitors who shop locally at the Saturday morning Farmers’ Market.  A second grant was awarded to Operation Give Back to expand the education programs to the Montgomery parents of the students they serve. These programs reinforce learning on life skills, self-help, goal setting, and achievement.
<br>
<br>
Swaim Lodge underwent a kitchen remodeling project that added amenities such as updated appliances and additional counter space to create a much more functional and aesthetically pleasing kitchen.
<br>
<br>
The City installed fiber-optic cabling to the Montgomery Community Pool and the Recreation Annex.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		An updated General Development Plan for the Village Section of the Vintage Club of Montgomery was approved by the Planning Commission in May of 2016. The updated plan is a reflection of months of work by the developer in order to meet the expectations of the City and the residents of the Vintage Club while working with the current market conditions.
<br>
<br>
The City received a grant from Ohio Kentucky Indiana Regional Council of Governments (OKI) in the amount of $6,000,000, approximately 70 percent of the total estimated construction, for roundabout construction to replace the bridge over Ronald Reagan Highway in downtown Montgomery. The project is programmed in the Ohio Department of Transportation (ODOT) fiscal year 2020.
<br>
<br>
Twin Lakes Senior Living Community began work on a building addition to the main campus, 9840 Montgomery Road. The addition will include 45 additional independent living apartments and a new club-like dining venue, which will be located adjacent to a new auditorium/community room.  A retail component along Montgomery Road will be added as a second phase and could include a restaurant/retail site along the Montgomery Road entrance to the Twin Lakes campus.
<br>
<br>
A new residential subdivision, Orchard Trail, began construction. The new 29 lot, single-family, detached subdivision is on the site of the former Montgomery Swim and Tennis Club on Orchard Club Drive.
<br>
<br>
Skyward Academy located at the Montgomery Presbyterian Church at 9994 Zig Zag Road expanded student enrollment from 45 to 60.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
More than 400 volunteers donated 3,383 hours of time to assist in the many City sponsored events. In 2016, four exceptional volunteers were added to the Volunteer Walk of Fame. The inductees include Kathy Lonneman, Jack Wild, Todd Steinbrink, and Nancy Nolan.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			The public works staff coordinated the completion of major infrastructure repairs and rehabilitation of approximately 2.01 centerline miles of roadway, resurfacing all or portions of six streets including Barnsley Court, Cooper Lane, East Kemper Road, Tanagerwoods Drive, Acrewood Drive and Escondido Drive.
<br>
<br>
In 2016, an additional 27 of the 704 fire hydrants were replaced within the City for a total of 76 replaced hydrants. This work was done in conjunction with the street resurfacing program and was the third year of a multi-year comprehensive plan to address the aging fire hydrants in the community.
<br>
<br>
The public works department continued work in 2016 on a five-year plan to repair and replace identified sections of guardrail to assure compliance with safety standards set forth by the Ohio Department of Transportation. In 2016, approximately 430 feet of guardrail replacement was completed on East Kemper Road between Terwilligers Run Drive and Hightower Court and approximately 220 feet on Remington Road east of Main Street.
<br>
<br>
Most of the traffic signals in Montgomery were upgraded with new equipment and fiber optic cable. Traffic management cameras were installed at eight identified locations providing the ability to observe traffic patterns and operations remotely and make adjustments as needed. The $764,000 project was primarily funded through a grant received from the Ohio Kentucky Indiana Regional Council of Governments with the City being responsible for 20 percent of the total construction costs.
		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
