<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">About Montgomery's Historical Landmarks</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>

		<img src="assets/icon/about.jpg"/>
		<ion-card-content>

		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Historic Landmarks
			</ion-card-title>
		
		The community of Montgomery began in the spring of 1795 when six sturdy and resolute families from Orange County, New York, set out on a journey that brought them to what is today Montgomery, Ohio. The families were all interrelated with names that have become commonplace in our community. There were the three Felter sisters and their husbands Cornelius Snider, the leader; Jacob Roosa; and Nathaniel Terwilliger along with the three Felter brothers and their wives.
<br><br>
The closely knit group gathered together their possessions and traveled through Fort Pitt (now Pittsburgh), floated down the Ohio River to the mouth of the Little Miami River, and made their way up Sycamore Creek where it meets the present Montgomery Road just north of Bethesda North Hospital. The first winter was spent in simple lean-to shelters left by the earlier scouts. Then, in the spring of 1796, they moved to the junction of two Native American trails, which today are Cooper Road and Main Street.The growth of Montgomery was a gradual one with about a dozen homes built by 1816, and that number grew to about 500 by 1950. In 1910, Montgomery was incorporated as a village, and it became a city in 1971 having reached 5,000 inhabitants. Today, the population is 10,251.
<br><br>
To preserve the City’s cultural heritage, the Montgomery Landmarks Commission was established in 1976 by a group of stalwart citizens, not unlike their forebearers. As of today, the Commission has identified 32 landmarks to commemorate the City’s historical beginnings. These landmarks will be preserved for future generations as a tribute to Montgomery’s past.
</ion-card-content>
<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/styles" routerDirection="root"> Learn more about Architectural Styles! </ion-button>
<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/styles" routerDirection="root"> Discover Montgomery's Historical Landmarks! </ion-button>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Landmarks Commission
			</ion-card-title>
			The Landmarks Commission is responsible for the preservation of Montgomery’s historical and architectural heritage. It conducts research and protects those areas, places, buildings, or objects that are significant to the City’s cultural, social, economic, political or architectural heritage. It also works for the continuing education of the community to foster awareness of the City’s heritage.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Montgomery Historical Preservation Association
			</ion-card-title>
The Montgomery Historical Preservation Association’s purpose is to preserve the historical and cultural atmosphere of the City of Montgomery. It offers a variety of educational programs, many of which are open to the public. For more information, call Montgomery City Hall at 513-891-2424 or visit their  
<a target="_blank" rel="noopener" href="https://www.facebook.com/MontgomeryHistoricPreservationAssociation/?fref=nf">Facebook Page</a>.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				National Register of Historic Places
			</ion-card-title>
			The <a target="_blank" rel="noopener" href="https://www.nps.gov/subjects/nationalregister/index.htm">National Register of Historic Places</a> is the official list of the Nation’s historic places worthy of preservation. Authorized by the National Historic Preservation Act of 1966, the National Park Service’s National Register of Historic Places is part of a national program to coordinate and support public and private efforts to identify, evaluate, and protect America’s historic and archaeological resources.
		</ion-card-content>
	</ion-card>



</ion-content>
