<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2001: Parrott Alley Dedication</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

	<ion-card>

		<img src="assets/icon/ville.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				Parrott Alley
			</ion-card-title>
		</ion-card-content>
	</ion-card>

<ion-content>
	<ion-card>
		<img src="assets/icon/parrottplaque.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2001
			</ion-card-title>
		The City worked with the Montgomery Historical Preservation Association on a dedication plaque and ceremony for Parrott Alley, which was previously Straight Street. The name was changed to recognize the Parrott family who operated a general store at the southwest corner of Montgomery and Cooper Roads for many years.
<br><br>
Thanks to the efforts of the Beautification and Tree Commission, the City also developed and adopted a comprehensive tree ordinance and maintenance manual designed to enhance and safeguard the public “forest” in the community.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 2001, Ken Suer was selected to fill the unexpired term of Donald Cornett, who resigned from City Council on June 1, 2001.  During the November elections, Gary Blomberg, Ed Daniel, William Niehaus, Lynda Roesch and Ken Suer were elected to continue their service on City Council.  George Rehfeldt and Gerri Harbison continued their service on City Council.  On November 25, 2001, Michael Hawkins retired from City Council. City Council elected Gary Blomberg as Mayor and Gerri Harbison as Vice Mayor.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $11,252,341

<br>
<br>
Total Revenues for 2001:   $13,193,776 <br>
Total Expenditures for 2001:  $9,726,326

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 56 full-time and 40 part-time employees.
<br>
<br>
Jerry Beitman was promoted to lieutenant in the police department.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The City undertook a comprehensive strategic planning project for the next five to seven years to guide City operations.  As a part of the strategic planning process, a comprehensive community survey was undertaken with the assistance of the University of Cincinnati Institute for Policy Research.
<br>
<br>
Property tax collections from the Pioneer Park bond levy were terminated at the end of 2001, eleven years ahead of the scheduled levy expiration.  The action resulted in savings of nearly $41.2 million to Montgomery taxpayers.
<br>
<br>
The City also worked on re-writing the zoning code, which received its last comprehensive review in 1976.
<br>
<br>
The fire department led a disaster training for all department heads and 100 participants from other jurisdictions.
<br>
<br>
The information technology department was also established in 2001.
<br>
<br>
The Montgomery Makos swim team began in 2001 with 62 swimmers.
<br>
<br>
The year 2001 was the first year that pool management was contracted. Cincinnati Pool Management managed the contract for the first year.
<br>
<br>
The City undertook a planning study of the heritage district to identify specific areas of the district that could be enhanced through planning and continued development by the City.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		Twin Lakes of Montgomery proposed significant changes to their previously approved plans for a retirement community on Montgomery Road.
<br>
<br>
Gattles opened in the remodeled old City firehouse on Cooper Road.
<br>
<br>
The new Carlo & Johnny’s Restaurant opened at the former Charley’s Crab location.
<br>
<br>
Four new businesses: Brumbles, Imaginatic, Timeless Traditions, and Morgan Kooshesh Home Furnishings, opened in the Historic District.
<br>
<br>
On July 17 and July 18, 2001, a severe rainstorm caused significant flooding and property damage in Montgomery.  Montgomery and other jurisdictions in the area were declared a disaster area by the Federal Emergency Management Agency (FEMA).  As a result of significant damage to property along the Polk Run Creek, the City assisted in the formation of a coalition of jurisdictions along this watershed.
<br>
<br>
The Montgomery police department worked with Sycamore Community Schools and created the position of school resource officer.  This position enables a sworn police officer to work side by side with administration and students on a full-time basis to create positive community/police relations.  A $125,000 grant was received from the U.S. Department of Justice to assist in funding the position.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Community volunteers generously contributed 3,431 hours of service to the City during the year.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			Development of an expanded city sidewalk program to improve safety and eventually link neighborhoods to schools, parks, and retail centers began in 2001.
<br>
<br>
City Council initiated a streetlight program for residential neighborhoods without street lights.
<br>
<br>
City Council approved a plan to develop 550 additional grave sites at Hopewell Cemetery.
<br>
<br>
A new green space at the corner of Montgomery Road and Hopewell Road was created.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>