<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">1996: City Preserves Sage Tavern</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/car.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 1996
			</ion-card-title>
			The City held its first annual Classic Car Show at Weller Park.
<br>
<br>
After a spirited debate within the community, City Council dropped a proposal to establish a Dog Park in Pioneer Park.
<br>
<br>
A comprehensive study of the City’s park system was completed.
<br>
<br>
The City modified the Heritage Overlay District and created a new zoning category named the Old Montgomery Gateway District for the area between downtown and Ronald Reagan Cross County Highway.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
Montgomery City Council was comprised of Gail Winiarz, William Niehaus, Janet Korach, David Shardelow and Fred Kleiser and joined by Mayor Ivan Silverman and Vice Mayor Richard Tuten. David Shardelow resigned in August 1996 and Gary Blomberg was appointed to fill that vacancy.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $7,216,476.

<br>
<br>
Total Revenues for 1996: $7,717,868 <br>
Total Expenditures for 1996: $7,216,476

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 51 full-time and 34 part-time employees.
<br>
<br>
Michael Schepers was appointed as city manager.
<br>
<br>
The City hired Fire Lieutenant Paul Wright.
<br>
<br>
Kathleen Buckley was hired as community development director.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
			<ion-img src="assets/icon/pool.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			Vacancies in the downtown historical area prompted the City to offer a linked deposit program to attract and retain new retail businesses.
<br>
<br>
City Council voted to allow the City to bill non-property owners for emergency medical transports.
<br>
<br>
With the construction of the municipal pool, the Recreation Department was created to offer more meaningful recreational opportunities for Montgomery residents.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
			<ion-img src="assets/icon/motel.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
Bethesda North Hospital constructed a $13 million surgical wing
<br>
<br>
Bethesda North Hospital also constructed a $10 million fitness center which opened in January 1997.
<br>
<br>
The car wash at 9555 Main Street was redeveloped into a 2-story, 10,000 square foot medical office building.
<br>
<br>
		Ohio National Life Insurance Company moved into its newly-constructed 220,000 square foot facility and became Montgomery’s third-largest employer.
<br>
<br>
The Elm Cris Motel at 9300 Montgomery Road was redeveloped into a one-story, 20,000 square foot medical office building for the University of Cincinnati Health System.
		</ion-card-content>
	</ion-card>
	

	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/firstp1" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>