<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2002: Ted Gregory Lane</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/ted.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2002
			</ion-card-title>
City Council approved changing the name of Sycamore Alley to Ted Gregory Lane to recognize the contributions of the founder of Montgomery Inn.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
During 2002, Gary Blomberg served as Mayor and Gerri Harbison served as Vice Mayor.  Ed Daniel, William Niehaus, George Rehfeldt, Lynda Roesch, and Ken Suer continued as members of City Council.


		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $14,591,270.

<br>
<br>
Total Revenues for 2002: $13,316,995 <br>
Total Expenditures for 2002: $11,253,668

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
A full range of City services was undertaken by 60 full-time and 40 part-time employees.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
In November, voters approved changes to the City Charter that were proposed by the Charter Review Committee and City Council.
<br>
<br>
A new strategic plan for the City was completed and approved by Council. Six major goal areas were established to guide the City for the next five years.
<br>
<br>
The City website was redesigned and upgraded to allow better access for the public, including the ability to purchase pool passes online, as well as download forms and publications.
<br>
<br>
Hopewell Cemetery was expanded to allow for an additional 539 plots.
<br>
<br>
City Council approved the creation of an Environmental Advisory Committee.
<br>
<br>
City Council approved annual financial support to the Blue Ash/Montgomery Symphony Orchestra.
<br>
<br>
In January, the comprehensive rewrite of the zoning code became effective.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		In October, the City purchased the property at the southeast corner of Montgomery and Cooper Roads known as the ‘Triangle’.  The City chose a developer to partner with on the redevelopment of the property.
<br>
<br>
In the fall, TriHealth began construction on the first phase of a comprehensive capital improvement plan for Bethesda North Hospital including a new entrance and operating room facilities.
<br>
<br>
Also in the fall, site work began on the Twin Lakes’ retirement community main campus and south campus.  This follows a long planning and review process by the City.
<br>
<br>
A new five-lot single family subdivision at the southeast corner of Montgomery Road and Radabaugh Drive was approved for Zicka Homes.
<br>
<br>
A groundbreaking was held in February for the new Montgomery Elementary School which opened for the 2003-4 school year.
<br>
<br>
The Sister Cities Commission worked with Sycamore Community Schools to send a delegation of teachers to Montgomery’s sister city, Neuilly-Plaisance, France.
<br>
<br>
In January, a school resource officer began duties at Sycamore High School. This is a joint effort between the City and Sycamore Community Schools.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Approximately 550 community volunteers contributed over 3,000 hours of service to the City, which equates to approximately $50,000 of value to the City.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			Cincinnati Waterworks constructed a large new water line down Pfeiffer Road and north on Montgomery Road which improved service to the area and points north.
<br>
<br>
Approval was finally given by Hamilton County for the sanitary sewer line project down Hopewell Road. This provided an upgrade in sewer service for much of the City and allowed Twin Lakes and other residential projects to proceed.
<br>
<br>
New gazebos and a basketball court were installed at the City pool.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/tedtrivia" routerDirection="root"> Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>