<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Architectural Styles</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img class="style" src="assets/icon/newengland.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
					Example: Weller House, c. 1897
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
				New England Colonial
			</ion-card-title>
			
			This vernacular style is characterized by the use of natural materials on an otherwise simple structure. Typical elements include boxy massing, a prominent chimney, and widely spaced, small windows (often casement). The salt box shape commonly associated with New England is the result of adding rooms to the rear of the house and extending the rear roof slope. Commonly associated with seventeenth-century development in New England, native new Englanders brought the style with them to as they settled the new territory.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/federal.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Pioneer Building, c. 1818
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
				Federal
			</ion-card-title>
			
The Federal style is characterized by a low-pitched roof and narrow, slender (elongated) proportions. Other characteristics include a smooth symmetrical facade, and elliptical fan light with flanking slender side lights at the main entrance, and refined and elegant decoration. Examples may be brick or frame. Vernacular examples often are apparent because of their proportions: two-story houses with a symmetrical facade and the door centered or to one side, and six over six or eight over eight sash windows.
			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/tudor.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Stix-Durbrow House, c. 1928
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Tudor Revival
			</ion-card-title>
			The Tudor Revival style was a high-style for houses of the late nineteenth and early twentieth centuries and was inspired by English buildings of the Elizabethan and Jacobean periods. It quickly was adapted for middle-class suburban houses. Characteristics include asymmetrical massing, steeply pitched roofs, one or more intersecting gables, and half-timbering that is decorative rather than structural. Windows are often casements with diamond panels. Natural materials often are used in combination, such as thatched roofs, stone chimneys, stucco, and brick.
			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/greek.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Universalist Church, c. 1837
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Greek Revival
			</ion-card-title>
			
			The Greek Revival style emulated the ancient Greek system of proportion and used, almost exclusively, rectangular openings and one of the Greek orders. The style initially developed in New England, but was quickly adopted by the fledgling American democracy following the War for Independence because of its association with the ideals of ancient Greek democracy. It was often used for civic and institutional buildings. Characteristics include a columned portico supporting a triangular pediment, and six over six double hung sash windows. Vernacular examples suggest the pediment by turning the gable end of a house to the front, adding pilasters to the cornice, and painting the building white.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/gothic.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Hopewell-Montgomery Presbyterian Church, c. 1829


			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Gothic Revival
			</ion-card-title>
			The Gothic Revival style is the first of the so-called “romantic” or picturesque styles and was the first style to deviate from the symmetry of Classical architecture. It was inspired by medieval European Gothic cathedrals and was one of the first styles to be promoted through style books. Chief proponents of Gothic Revival include the architect Alexander Jackson Davis and landscape designer Andrew Jackson Downing. Characteristics of Gothic Revival are: steeply pitched roofs with wall dormers or cross gables (or both), polygonal chimney pots, hood molds over windows, curvilinear gingerbread trim along eaves and gable edges, lancet and pointed arched door and window openings, and diamond pane windows.


			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/italianate.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Blair-Barker House, c. 1875
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Italianate
			</ion-card-title>
			Probably the key characteristic of the Italianate style is the decorative brackets found at the cornice or eave. A small frieze window is often also found at the cornice; this provided both a decorative element to the building as well as permitting cross ventilation in an attic space. An additional characteristic is the tall, narrow proportions. The Italianate style is strongly influenced by classical design but is less “controlled” than earlier styles. The style’s exuberant ornamentation, including decorative hood molds and bracketed cornices of tin, wood, or stone, cast iron storefronts, even 2/2 windows, was mass produced. The style was readily adapted to townhouses, commercial buildings, and multi-family buildings. Many examples are found throughout Cincinnati’s nineteenth-century neighborhoods, notably Over-the-Rhine, as it was the style most popular during the city’s period of major expansion.


			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/queenanne.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Cameron-Feinthel House, c. 1891
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Queen Anne
			</ion-card-title>
			The hallmark of Queen Anne architecture is variety in form, color, shape, materials, and textures. Projecting oriels, bay windows, odd roof lines, wraparound porches, towers, turrets, tall chimneys and asymmetrical massing are all characteristics of the style. Materials employed include cut and molded brick, terra cotta, and stone masonry examples; and ornamental plaster, shaped shingles, carved wood, spindles, brackets, and cutouts on frame examples. Some examples also incorporate classical columns and other classical decorative motifs. The interior layout of Queen Anne houses took advantage of the recent innovation of central heat.


			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/colonial.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Pure Oil Gas Station, c. 1931
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Colonial Revival
			</ion-card-title>
			Following America’s centennial celebration in 1876, there was a renewed sense of pride in the country’s past, which in turn resulted in a return to architectural styles common to America’s colonial period. The scale of Colonial Revival buildings is much larger than the historic prototypes. Colonial Revival styles were initially found in large residences designed by architects for wealthy clients. The style was also, in part, a reaction to the overabundance of detail, color, texture, and form associated with Victorian styles.


			
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/bungalow.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Example: Parrott-Smith House, c. 1897
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Bungalow
			</ion-card-title>
			A typical bungalow is one and one-half stories tall with a sweeping, side-gabled roof punctuated with dormers. A deep porch and natural materials were chosen, including brick, stone, and wood shingles. Wood elements were stained in natural colors rather than painted. It is common for a combination of materials to be used, such as brick on the lower story and wood shingles above. Structural members are exposed, such as rafter ends. Smaller one-story bungalows also are found; these examples have a low-pitched roof. Other common elements include battered porch piers, the use of contrasting materials, and chimneys built of stone.
			
		</ion-card-content>
	</ion-card>

	<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/landmarks/about" routerDirection="root"> Back to about page
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>

	<ion-card>

		<ion-card-content>
			<ion-card-subtitle color="danger" size="small">
Sketches by Diane P. Eberhard
			</ion-card-subtitle>
			<ion-card-title color="primary" size="small">
			Bibliography
			</ion-card-title>
Baker, John Mines, AIA, 1994, "American House Styles: A Concise Guide". New York, W.W. Norton & Company.
<br><br>
Blumenson, John J.G., 1981, "Identifying American Architecture: A Pictorial Guide to Styles and Terms, 1600-1945, second Edition". New York, W.W. Norton & Company.
<br><br>

Carley, Rachel, 1994, "The Visual Dictionary of American Domestic Architecture: A Graphic Guide to 500 Years of American Home Styles from the Tipi to the Tract House". New York, Henry Holt and Company.
<br><br>

McAlester, Virginia and Lee, 1984, "A Field Guide to American Houses". New York, Alfred A. Knopf.			
		</ion-card-content>
	</ion-card>

</ion-content>
