<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Yost Tavern, c. 1805</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<img class="style" src="assets/icon/yost.jpg"/>
			<ion-item class="ion-text-wrap"> <ion-text color="primary">
		7872 Cooper Road, Montgomery, OH, United States </ion-text>
			<ion-icon slot="start" color="primary" size="medium" name="location-outline"></ion-icon>
	</ion-item>

		<ion-card-content>
This simple wood-frame building was both a home and a place of business for Abraham Yost, who operated the tavern. It was situated at the junction of two Indian trails, the Shawnee and Miami. Yost Tavern was a thriving business, for Montgomery was the last overnight stop before Cincinnati.


			  		<audio controls id="audio-example">
		<source src="/assets/audio/yost.mp3">
			Native audio playback is not supported
		</audio>
			<style>
	#audio-example{
		display:block;
		width:100% !important;
		padding-left:5% !important;
		padding-right:5% !important;
		padding-top:5px !important;
		padding-bottom:5px !important;
		}
	</style>
		</ion-card-content>
	</ion-card>


	<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/landmarks" routerDirection="root"> Back to historical landmarks list
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
	<ion-item>
<ion-text size="small" color="danger"> Audio recording performed by Frank Davis, City of Montgomery staff member.

 </ion-text> </ion-item>

</ion-content>
