<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Johnson-Murdough Building, c. 1890</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>

	<ion-card>
		<img class="style" src="assets/icon/murdough.jpg"/>
			<ion-item class="ion-text-wrap"> <ion-text color="primary">
		9429 Montgomery Road, Montgomery, OH, United States </ion-text>
			<ion-icon slot="start" color="primary" size="medium" name="location-outline"></ion-icon>
	</ion-item>

		<ion-card-content>
This house is part of the early residential neighborhood of the village. The original house is thought to have been torn down in 1890 and replaced by the present simple front-gable townhouse.


			  		<audio controls id="audio-example">
		<source src="/assets/audio/murdouogh.mp3">
			Native audio playback is not supported
		</audio>
			<style>
	#audio-example{
		display:block;
		width:100% !important;
		padding-left:5% !important;
		padding-right:5% !important;
		padding-top:5px !important;
		padding-bottom:5px !important;
		}
	</style>
		</ion-card-content>
	</ion-card>
	<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/landmarks" routerDirection="root"> Back to historical landmarks list
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>
	<ion-item> <ion-text size="small" color="danger"> Audio recording performed by Doug Hughes, Landmarks Commission.

 </ion-text> </ion-item>

</ion-content>
