<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary"> 2007: 25th Anniversary of FBI Plane Crash</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>

	<ion-card>

		<img src="assets/icon/crash.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
				FBI Airplane Crash Memorial Card
			</ion-card-title>
		</ion-card-content>
	</ion-card>


		

	<ion-card>
		

					<img class="homearama" src="assets/icon/homearama.jpg"/>

					<img class="homearama" src="assets/icon/homearamatent.jpg"/>

					<img class="homearama" src="assets/icon/homearama2.jpg"/>
<ion-card-content>
			<ion-card-subtitle color="danger">
				The 2007 Montgomery Homearama Showcase
			</ion-card-subtitle>
			<ion-card-title color="primary"> 
			Significant Events in  2007 </ion-card-title>
				The year 2007 marked the 25th anniversary of the December 16, 1982, FBI plane crash at the former Sheppard’s Bookstore located in downtown Montgomery.  On December 16, a commemorative ceremony was held at St. Barnabas Church to honor those killed in the accident. This event has been chronicled in the  
				<a target="_blank" rel="noopener" href="https://www.nytimes.com/1982/12/17/us/no-headline-105853.html"> New York Times</a>, <a target="_blank" rel="noopener" href="https://www.wcpo.com/news/our-community/from-the-vault/from-the-vault-hidden-loot-lost-in-plane-crash-that-killed-4-fbi-agents-and-bank-embezzler">Cincinnati Enquirer</a>, and mentioned in the television show The Americans.
<br><br>
The City embarked on an initiative to improve the communications with the residents. This resulted in the creation of a new “Montgomery Citizens’ Leadership Academy” to provide a community-based experiential learning opportunity to residents.
<br><br>
Montgomery won the Frank Ferris Regional Planning Award for the Montgomery Road Corridor Design Guidelines project.
<br><br>
The City hosted the 2007 Homearama showcase at the Vintage Club development.  This marks the second Homearama show in Montgomery and the first in Hamilton County since 1995.
<br><br>

			
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content color="primary">
		
			<ion-card-title color="primary" size="small">
				Elected Officials
			</ion-card-title>
During 2007, the term of office expired for William Niehaus. Joining City Council Members Mark Combs, Barry Joffe, Lynda Roesch and Ken Suer was newly elected member Vicki Hirsch. Gerri Harbison, and Todd Steinbrink were elected to continue their service on City Council.  City Council elected Gerri Harbison as Mayor and Ken Suer as Vice Mayor.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
			Finances
			</ion-card-title>
			As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $30,671,531.


<br>
<br>
Total Revenues for 2007: $18,719,964 <br>
Total Expenditures for 2007: $18,236,694
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Employment
			</ion-card-title>
A full range of City services was undertaken by 65 full-time and 40 part-time employees.


		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Services
			</ion-card-title>
The City won the award for the Best Website in the Country for cities with populations between 4,500 and 65,000. This award was given by the National Association of Government Webmasters.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Businesses and Partners
			</ion-card-title>
Bethesda North Hospital celebrated the opening of their new seven-story, 130-bed addition on the north side of the campus, and began investigating reuse of the building at 10494 Montgomery Road that became available when Cincinnati Eye Institute relocated to new facilities.  In the fall, the City reviewed and approved plans for updating and enlarging this building for expanded hospital services.
<br><br>
A proposal to develop 2.9 acres of undeveloped land south of the Montgomery Safety Center received a lot of attention throughout the year.  Twin Lakes submitted plans to build thirteen empty-nester dwelling units on land they were purchasing; however, traffic issues and concern over the loss of the woods led to area residents placing an issue before the voters that would require the City to buy the land and adjoining undeveloped property for a park.  This initiative was defeated in the November election and Twin Lakes was free to proceed based on the approvals they had received from the Planning Commission.
<br><br>
The City completed an update of the City’s comprehensive plan, which now replaces the previous plan from 1986.
<br><br>
The year 2007 also saw the completion of the Montgomery Gateway Center. Peoples Bank opened in the building by the point, and Stone Creek Dining Company and ten other businesses opened in the main building.  In November 2007, the City marked the completion of the project with a ceremony recognizing Veteran’s Day and the opening of the Triangle Point Plaza Gateway Park.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Volunteers
			</ion-card-title>
Approximately 535 volunteers contributed approximately 3,050 hours of their time helping the City at community events. This represents an estimated $57,250 in value to the community. This includes the 62 members of the City’s boards and commissions.



		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content color="secondary">
		
			<ion-card-title color="primary" size="small">
				Capital Projects
			</ion-card-title>
Crosswalk improvements included the installation of 15 brick paver crosswalks in the Heritage District and the installation of two “SMART” crosswalks.
<br><br>
The Remington Road Improvement project was completed on the section from Montgomery Road to the Indian Hill village limits. The project included curb replacements as required and all work associated with the installation of a new asphalt surface and pavement markings.
<br><br>
A new concrete sidewalk was constructed along Jolain Drive from Tollgate Lane to a point approximately 450 feet west of Knollbrook Terrace.

		</ion-card-content>
	</ion-card>

	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/crashtrivia" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
