<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2010: Montgomery Farmers Market</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/farmers.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2010
			</ion-card-title>
			The Sister Cities Commission sent a delegation to Neuilly-Plaisance, France, to celebrate the 21st anniversary of the twinnings of the two cities.
<br><br>
The Montgomery Farmers’ Market, with the support of City Council and staff, opened for the first time in the Shelly Lane public parking lot.
		</ion-card-content>
	</ion-card>

		<ion-card>
		<img src="assets/icon/jnp.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				Johnson Nature Preserve Improvements
			</ion-card-subtitle>
				Improvements were made to the entrance to Johnson Nature Preserve.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
			During 2010, Gerri Harbison and Ken Suer continued in their service as Mayor and Vice Mayor. Council Member Vikki Hirsch resigned her position and Council appointed Craig Margolis, chairman of the Planning Commission, to replace her. Council Members Barry Joffe, Lynda Roesch, and Todd Steinbrink continued their service as council members.

		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
			As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $30,861,551.
<br>
<br>
Total Revenues for 2010:   $16,642,000 <br>
Total Expenditures for 2010:  $14,262,000

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
		A full range of City services was undertaken by 65 full-time and 40 part-time employees.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The City hosted the annual Southwest Ohio Tree City USA luncheon at Montgomery Inn.
<br>
<br>
The ‘Live at the Uni’ concert series, sponsored by the Arts Commission, completed its first season at the Universalist Church.
<br>
<br>
The City started accepting credit cards for the payment of City income tax.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		After many successful years, the Honda dealership was sold and the facility on Montgomery Road closed.
<br>
<br>
City Council adopted design guidelines for the hospital corridor area along Montgomery Road. This followed close collaboration with representatives of Bethesda North Hospital.
<br>
<br>
The City Fire Department and Sycamore Schools collaborated on a prevention program against the H1N1 epidemic that was anticipated to infect many people in the U.S.  A treatment ‘POD’ was located at the high school and 2000 students were inoculated.
<br>
<br>
After many successful years, 2010 marked the end of the Kiwanis Art Show downtown.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Approximately 540 volunteers contributed their time to 19 different community events, plus another 63 volunteers served on one of the City’s boards and commissions.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			After extensive renovation including a brand new fountain, Neuilly-Plaisance Plaza was reopened in 2010.
<br><br>
A new lighted walkway and other improvements were made at Montgomery Park.

		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/farmerstrivia" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>