<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Universalist Church Historical Timeline</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1795-1803
			</ion-card-title>
Founding families arrive from Montgomery, New York; Nathaniel Terwilliger lays out the village, Hopewell Presbyterian Church organized, Ohio becomes a state.
		</ion-card-content>
	</ion-card>

<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1820's
			</ion-card-title>
Families unhappy with “fire and brimstone” look to leave the Protestant Church.  Pioneer leader Jacob Felter embraces the Universalist faith with its doctrine of universal salvation.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1835
			</ion-card-title>
The local Universalist Society is formed with board members Felter, Levi Buckingham and Benjamin Bowen and property at Montgomery and Remington purchased for $75.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<img src="assets/icon/key.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				1837
			</ion-card-title>
Church is constructed with hired carpenters.  Members work on site to form bricks with clay from nearby farm and imprint their keys in some of the bricks.  The church’s 18 members donate church furnishings such as the pulpit and the gold vine kerosene lamp chandelier.  Pews are divided down the middle since men and women enter and sit seperately.
<br><br>
Coins are added to the metal in the bell to provide a clear tone and the bell is also used as the village fire alarm.
<br><br>
Reverand Enoch Pingree, well known for his writings and a debater of religiouos doctrine, is hired. His sessions with other ministers draw a great deal of attention.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1840's
			</ion-card-title>
Church has a large choir, a Sunday School and 44 members. Serves as site for Miami Association of Universalists district meetings.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img src="assets/icon/raid.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				1861-1865
			</ion-card-title>
Church bell is used to muster militia during Civil War.  Renegade General John Hunt Morgan’s men go past early in the morning of July 14, 1863 during their infamous raid.


		</ion-card-content>
		<ion-button class="ion-text-wrap" size="medium" fill="clear" color="primary" routerLink="/morgan" routerDirection="root"> Learn more about General Morgan! </ion-button>
	</ion-card>


		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1880's
			</ion-card-title>
A cyclone split the structure in two.  A local blacksmith rigged two beams to either side of the building and then using a block and tackle was able to draw the two parts into alignment.  They were then mortared together so well that no trace of the crack can be seen today.

		</ion-card-content>
	</ion-card>

			<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1889
			</ion-card-title>
Church members make a red and white quilt with the names of church families including Bowen, Buckingham, Todd, Crain, Parrott and Hoffman.
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1926
			</ion-card-title>
Reverend Robert Cummins leaves and weekly church services cease.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1949
			</ion-card-title>
Montgomey Historical Society begins with Hattie Swaim’s efforts to have the Montgomery Garden Club purchase a new cupola.


		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1960
			</ion-card-title>
The annual service held to preserve the tax status ends and the church closes completely.

		</ion-card-content>
	</ion-card>

		<ion-card>
		<img src="assets/icon/unichurch.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				1962
			</ion-card-title>
Over the years, termites damage the floor and the plaster begins falling off.  The church is to become a gas station when Tom and Edith Behrens step in and purchase the property to prevent teardown.  Repairs are made and the pulpit is returned to the east end.  Pews are refinished with help from the Montgomery Woman’s Club.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1970
			</ion-card-title>
“Universalist Church Historic District” is approved for the National Register of Historic Places.  Montgomery passes a special zoning ordinance and installs brick sidewalks and lantern style streetlights to complement the church.


		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1973
			</ion-card-title>
Bricks are sandblasted, the ceiling is replastered and a small electric furnace is placed under the pulpit platform.  The church is opened to Christmas programs, school groups and Mary O’Driscoll coordinates rentals for weddings.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1975
			</ion-card-title>
Historian Adele Blanton discovers that the church design is modeled after the Montgomery, New York church of the founders.


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				1986
			</ion-card-title>
The property is deeded to the City by the Behrens’ heirs John Rengering and Margarete Chapman.  The Universalist Church is held in Trust as Montgomery’s most outstanding landmark.

		</ion-card-content>
	</ion-card>

		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				2015
			</ion-card-title>
The church may be rented for weddings and is open during City special events such as the Arts Commissions Live at the Uni concert series and Sister Cities Bastille Day Celebration.


		</ion-card-content>
	</ion-card>


	<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/universalist" routerDirection="root"> Back to Universalist Church page
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

	<ion-item> <ion-text size="small" color="danger"> This timeline was created by the <a target="_blank" rel="noopener" href="https://www.facebook.com/MontgomeryHistoricPreservationAssociation/?fref=nf">Montgomery Historical Preservation Association</a>.

 </ion-text> </ion-item>
</ion-content>
