<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">2004: Cincinnati Flower Show</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="assets/icon/flower.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary">
				Significant Events in 2004
			</ion-card-title>

The City of Montgomery participated in the Cincinnati Flower Show as an exhibitor in the spring of 2004. The City of Montgomery was the first municipality to boast this distinction. The City was awarded a Silver Award for its display, which was a depiction of a sidewalk café in our sister city, Neuilly-Plaisance, France.
<br>
<br>
A decorative street light project was completed in the Swaim Field subdivision with the installation of 46 electric gas light replica lights. This project was initiated through an assessment program that allowed homeowners to complete an application and petition to the City of Montgomery for the installation of street lights within its defined lighting district.
<br>
<br>
The Montgomery’s Arts and Amenities Fund received a significant bequest from the trust of longtime Montgomery resident Radia S. Pfingstag. The generous $109,687 from the Radia S. Pfingstag Trust was placed in the corpus of the Arts and Amenities Fund.

		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Elected Officials
			</ion-card-title>
			During 2004, City Council Members Ed Daniel, William Niehaus, Lynda Roesch, Todd Steinbrink and Ken Suer continued their service on City Council.  Mayor Gary Blomberg and Vice Mayor Gerri Harbison retained their respective positions.



		</ion-card-content>
	</ion-card>
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Finances
			</ion-card-title>
As part of City Council’s responsibilities for establishing policies and enacting legislation, City Council oversaw operations and administration of a cash budget of $14,860,123.

<br>
<br>
Total Revenues for 2004: $14,536,520 <br>
Total Expenditures for 2004: $12,532,518

		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Employment
			</ion-card-title>
A full range of City services was undertaken by 53 full-time and 40 part-time employees.

<br>
<br>
Police Sergeant Ron Fread retired and Greg Harris was named as his replacement.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Services
			</ion-card-title>
			The City contracted with Rumpke on a new automated waste collection system that was proposed by the Environmental Advisory Commission and staff.
<br>
<br>
Information technology was a focus for 2004, with online services being established to give residents 24-hour access to a variety of City services including online pool pass sign-ups, lodge rentals, customer service questions and the purchase of commemorative gifts.
<br>
<br>
The City implemented a new system called “Code Red Reverse 911”, a system that enables staff to send out a telephone call to each residence and business in the City to communicate instructions or other information in the event of a disaster or some other situation in which information needs to be disseminated quickly.

		</ion-card-content>
	</ion-card>
	
		<ion-card>
			<img src="assets/icon/wilderswaim.jpg"/>
		<ion-card-content>
			<ion-card-subtitle color="danger">
				The Wilder-Swaim House
			</ion-card-subtitle>
			<ion-card-title color="primary">
				Businesses and Partners
			</ion-card-title>
		Montgomery Gateway Partners was selected as the developer for the City’s Triangle property located at the corner of Montgomery and Cooper Roads.
<br>
<br>
The largest construction project in the City during 2004 continued to be the Twin Lakes retirement community.  By the end of the year, all 107 patio dwellings at the Hopewell and Perin Road sites were completed and substantial progress was made on the facilities on the main campus.
<br>
<br>
Arbor Living opened a new home décor and design showroom at 9727 Montgomery Road.
<br>
<br>
Little Liza Jane’s children boutique moved to a larger store at 7916 Cooper Road in historic Montgomery.
<br>
<br>
Byron Designs opened for business in historic Montgomery.
<br>
<br>
Pop Design Works, a graphic design firm, moved into 9429 Montgomery Road, in the landmark Johnson-Murdough Building.
<br>
<br>
Motion Savers Inc. moved its corporate sales office to Montgomery.
<br>
<br>
Pedigree Interiors, a non-profit consignment shop, featuring fine furniture and home accessories moved into Montgomery.  All proceeds from this shop benefit the United Coalition for Animals’ spay/neuter program.
<br>
<br>
Using a grant from the Blue Ash Montgomery Rotary Club, the City installed a gazebo, deck, and landscaping at Swaim Park.
<br>
<br>
The Swaim Historic Resource Center was introduced by the Montgomery Historic Preservation Association at the Wilder-Swaim House.
		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Volunteers
			</ion-card-title>
Community volunteers contributed approximately 3,250 hours of their time at a variety of community events, which equated to an estimated $57,000 in value to the City.



		</ion-card-content>
	</ion-card>
	
		<ion-card>
		<ion-card-content>
			<ion-card-title color="primary">
				Capital Projects
			</ion-card-title>
			A new greenhouse structure was installed at the service department in order to get an earlier start on growing the flowers for the downtown hanging baskets.
<br>
<br>
Construction of a new public sidewalk began in the Storybook Acres subdivision along portions of Storybook Drive and Adventure Lane. The work completed in 2004 was part of a two-year construction project that will provide a pedestrian connection through the Storybook Acres subdivision ultimately connecting the intersection of Pfeiffer Road and Storybook Drive with the intersection of Shadowhill Way and Deerfield Road.
<br>
<br>
The old playground equipment at the Dulle Park was removed in 2002 and the installation of the new structure was completed. The new structure was designed for all levels of school-age play, complete with slides, climbers, ground level play and a variety of exciting elements.
		</ion-card-content>
	</ion-card>
	
	
	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/flowertrivia" routerDirection="root">Test your knowledge with trivia!
			<ion-icon slot="end" color="primary" size="medium" name="arrow-forward-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>

</ion-content>
