<ion-header>
  <ion-toolbar>
    <ion-title size="small" color="primary">Schools Photos</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button size="large" autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
		<img class="style" src="assets/icon/e1.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Elementary School Classroom Aug 24, 1917

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/e2.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
High School Class of 1929

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/e3.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Elementary School – 1898

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/e4.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Sycamore High School – current location of Sycamore Junior high

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/e5.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Montgomery Elementary – 1960

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/e6.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
The just-completed Montgomery Elementary School – 1952

			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img class="style" src="assets/icon/e7.jpg"/>
		<ion-card-content>
			<ion-card-title color="primary" size="small">
Construction of Archbishop Moeller High School

			</ion-card-title>
		</ion-card-content>
	</ion-card>

<ion-item class= "ion-no-padding">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/photoalbum" routerDirection="root"> Back to Photo Album
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
			
	</ion-item>
</ion-content>
