<ion-header>
  <ion-toolbar>
    <ion-title color="primary" size="small">Pictures of the 1999 Tornado</ion-title>
    <ion-thumbnail slot="end"> 
    	<img class="imgmg" src="assets/icon/logo.png">
	</ion-thumbnail>
    <ion-menu-button autoHide="false" slot="start" color="danger"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>

		<img class="tornadopic" src="assets/audio/tornado1.jpg"/>

	</ion-card>

	<ion-card>

		<img class="tornadopic" src="assets/audio/tornado2.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado3.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado4.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado5.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado6.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado7.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado8.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado9.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado10.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado11.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado12.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado13.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado14.jpg"/>

	</ion-card>
	<ion-card>

		<img class="tornadopic"src="assets/audio/tornado15.jpg"/>

	</ion-card>


	<ion-item class="ion-text-wrap">
		<ion-button expand="full" slot="start" fill="clear" color="primary" class="button.end" size="medium" routerLink="/tornado" routerDirection="root"> Back to tornado main page
			<ion-icon slot="start" color="primary" size="medium" name="arrow-back-circle-outline"></ion-icon>
		</ion-button>
	</ion-item>
</ion-content>
